<div id="admin-tutor" class="container-fluid">

  <h1>Tutor</h1>
  <hr>

  <div class="form-group">
    <label for="tutor-name">Tutor name</label>
    <input
      type="text"
      class="form-control"
      id="tutor-name"
      placeholder="Tutor name"> 
  </div>

  <div class="form-group">
    <label for="price">Price</label>
    <div class="input-group">
      <input
        type="text"
        class="form-control"
        id="price"
        placeholder="Price">
      <span class="input-group-addon">€</span>
    </div>
  </div>

  <div class="form-group">
    <label for="price-unit">Price unit</label>
    <input
      type="text"
      class="form-control"
      id="price-unit"
      value="hour"
      disabled="disabled"> 
  </div>

  <div class="form-group">
    <label for="comments">Comments</label>
    <textarea 
      class="form-control" 
      rows="3"
      id="comments">
    </textarea>
  </div>

  <hr>

  <div>
    <button 
      class="btn btn-lg btn-danger"
      ng-click="cancel()">
      Cancel
    </button>
  
    <button 
      class="btn btn-lg btn-primary"
      ng-click="saveTutor()">
      Add
    </button>
  </div>

</div> <!-- /container -->
