.vex.vex-theme-custom {
  padding-top: 160px;
  padding-bottom: 160px;
}
.vex.vex-theme-custom .vex-content {
  background: #fff;
  color: #444;
  padding: 1em;
  position: relative;
  margin: 0 auto;
  max-width: 100%;
  width: 550px;
  font-size: 30px;
  line-height: 1.5;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  -ms-transform: translateY(-50%) translateX(-50%);
  /* IE 9 */
  -webkit-transform: translateY(-50%) translateX(-50%);
}
.vex.vex-theme-custom .vex-content h1,
.vex.vex-theme-custom .vex-content h2,
.vex.vex-theme-custom .vex-content h3,
.vex.vex-theme-custom .vex-content h4,
.vex.vex-theme-custom .vex-content h5,
.vex.vex-theme-custom .vex-content h6,
.vex.vex-theme-custom .vex-content p,
.vex.vex-theme-custom .vex-content ul,
.vex.vex-theme-custom .vex-content li {
  color: inherit;
}
.vex.vex-theme-custom .vex-close {
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
}
.vex.vex-theme-custom .vex-close:before {
  position: absolute;
  content: "\00D7";
  font-size: 26px;
  font-weight: normal;
  line-height: 31px;
  height: 30px;
  width: 30px;
  text-align: center;
  top: 3px;
  right: 3px;
  color: #bbb;
  background: transparent;
}
.vex.vex-theme-custom .vex-close:hover:before,
.vex.vex-theme-custom .vex-close:active:before {
  color: #777;
  background: #e0e0e0;
}
.vex.vex-theme-custom .vex-dialog-form .vex-dialog-message {
  margin-bottom: 0.5em;
}
.vex.vex-theme-custom .vex-dialog-form .vex-dialog-input {
  margin-bottom: 1em;
}
.vex.vex-theme-custom .vex-dialog-form .vex-dialog-input textarea,
.vex.vex-theme-custom .vex-dialog-form .vex-dialog-input input[type="date"],
.vex.vex-theme-custom .vex-dialog-form .vex-dialog-input input[type="datetime"],
.vex.vex-theme-custom .vex-dialog-form .vex-dialog-input input[type="datetime-local"],
.vex.vex-theme-custom .vex-dialog-form .vex-dialog-input input[type="email"],
.vex.vex-theme-custom .vex-dialog-form .vex-dialog-input input[type="month"],
.vex.vex-theme-custom .vex-dialog-form .vex-dialog-input input[type="number"],
.vex.vex-theme-custom .vex-dialog-form .vex-dialog-input input[type="password"],
.vex.vex-theme-custom .vex-dialog-form .vex-dialog-input input[type="search"],
.vex.vex-theme-custom .vex-dialog-form .vex-dialog-input input[type="tel"],
.vex.vex-theme-custom .vex-dialog-form .vex-dialog-input input[type="text"],
.vex.vex-theme-custom .vex-dialog-form .vex-dialog-input input[type="time"],
.vex.vex-theme-custom .vex-dialog-form .vex-dialog-input input[type="url"],
.vex.vex-theme-custom .vex-dialog-form .vex-dialog-input input[type="week"] {
  background: #f0f0f0;
  width: 100%;
  padding: 0.25em 0.67em;
  border: 0;
  font-family: inherit;
  font-weight: inherit;
  font-size: inherit;
  min-height: 2.5em;
  margin: 0 0 0.25em;
}
.vex.vex-theme-custom .vex-dialog-form .vex-dialog-input textarea:focus,
.vex.vex-theme-custom .vex-dialog-form .vex-dialog-input input[type="date"]:focus,
.vex.vex-theme-custom .vex-dialog-form .vex-dialog-input input[type="datetime"]:focus,
.vex.vex-theme-custom .vex-dialog-form .vex-dialog-input input[type="datetime-local"]:focus,
.vex.vex-theme-custom .vex-dialog-form .vex-dialog-input input[type="email"]:focus,
.vex.vex-theme-custom .vex-dialog-form .vex-dialog-input input[type="month"]:focus,
.vex.vex-theme-custom .vex-dialog-form .vex-dialog-input input[type="number"]:focus,
.vex.vex-theme-custom .vex-dialog-form .vex-dialog-input input[type="password"]:focus,
.vex.vex-theme-custom .vex-dialog-form .vex-dialog-input input[type="search"]:focus,
.vex.vex-theme-custom .vex-dialog-form .vex-dialog-input input[type="tel"]:focus,
.vex.vex-theme-custom .vex-dialog-form .vex-dialog-input input[type="text"]:focus,
.vex.vex-theme-custom .vex-dialog-form .vex-dialog-input input[type="time"]:focus,
.vex.vex-theme-custom .vex-dialog-form .vex-dialog-input input[type="url"]:focus,
.vex.vex-theme-custom .vex-dialog-form .vex-dialog-input input[type="week"]:focus {
  -moz-box-shadow: inset 0 0 0 2px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: inset 0 0 0 2px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 0 0 2px rgba(0, 0, 0, 0.2);
  outline: none;
}
.vex.vex-theme-custom .vex-dialog-form .vex-dialog-buttons {
  *zoom: 1;
}
.vex.vex-theme-custom .vex-dialog-form .vex-dialog-buttons:after {
  content: "";
  display: table;
  clear: both;
}
.vex.vex-theme-custom .vex-dialog-button {
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  border: 0;
  float: right;
  margin: 0 0 0 5px;
  font-family: inherit;
  height: 70px;
  font-size: 22px;
  font-weight: bold;
  line-height: 1;
  padding: 10px 35px;
}
.vex.vex-theme-custom .vex-dialog-button.vex-last {
  margin-left: 0;
}
.vex.vex-theme-custom .vex-dialog-button:focus {
  -webkit-backface-visibility: hidden;
  outline: none;
}
.vex.vex-theme-custom .vex-dialog-button.vex-dialog-button-primary {
  background: #a3cc52;
  color: #ffffff;
}
.vex.vex-theme-custom .vex-dialog-button.vex-dialog-button-primary:hover {
  background: #8ab536;
  color: #e6e6e6;
}
.vex.vex-theme-custom .vex-dialog-button.vex-dialog-button-secondary {
  background: #a6a6a6;
  color: #ffffff;
}
.vex.vex-theme-custom .vex-dialog-button.vex-dialog-button-secondary:hover {
  background: #8d8d8d;
  color: #e6e6e6;
}
.vex-loading-spinner.vex-theme-custom {
  height: 2.5em;
  width: 2.5em;
}
body {
  background-color: #ffffff;
  color: #4a4a4a;
  font-family: 'Helvetica', 'Arial', sans-serif;
  font-weight: normal;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
}
ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}
li {
  margin-bottom: 10px;
}
.nav,
.pagination,
.carousel,
.panel-title a {
  cursor: pointer;
}
.checkbox-inline label {
  font-weight: normal;
}
.input-group {
  display: inline-table;
}
.machine-item,
.activation-item {
  border-radius: 10px;
  padding: 10px;
}
/* Loading */
#loader-global {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 9999;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.25);
}
#loader-global .spinner {
  display: table-cell;
  width: 50px;
  height: 50px;
  position: absolute;
  left: 50%;
  top: 50%;
  font-size: 50px;
  margin-left: -25px;
  margin-top: -25px;
}
/* Bootstrap overrides */
.btn {
  border-radius: 0;
  border: none;
}
.btn-primary {
  background: #a3cc52;
}
.btn-primary:hover,
.btn-primary:active,
.btn-primary:focus,
.btn-primary:visited {
  background: #8ab536;
}
.btn-danger {
  background: #e66767;
}
.btn-danger:hover,
.btn-danger:active,
.btn-danger:focus,
.btn-danger:visited {
  background: #df3b3b;
}
/* Add icon button missing in Bootstrap */
.btn-ico,
.btn-ico:hover,
.btn-ico:active,
.btn-ico:focus,
.btn-ico:visited {
  background: transparent;
  /* Remove the default Bootstrap glow on button click */
  outline: none !important;
  box-shadow: none !important;
}
.btn-ico {
  padding: 0;
  font-size: 20px;
  line-height: 1;
}
.btn-ico {
  color: #a6a6a6;
}
.btn-ico:hover {
  color: #8d8d8d;
}
.btn-ico.btn-primary {
  color: #a3cc52;
}
.btn-ico.btn-primary:hover {
  color: #8ab536;
}
.btn-ico.btn-danger {
  color: #e66767;
}
.btn-ico.btn-danger:hover {
  color: #df3b3b;
}
.btn-logout {
  width: 70px;
  height: 70px;
  font-size: 22px;
  line-height: 1;
}
nav.navbar {
  background-color: #595959;
  border-bottom: 2px solid black;
}
nav.navbar .navbar-brand {
  color: white;
}
nav.navbar .navbar-brand:hover {
  color: #333333;
}
nav.navbar .navbar-brand {
  padding-left: 15px;
  padding-top: 10px;
}
nav.navbar .navbar-nav > li {
  margin: 0;
}
nav.navbar .navbar-nav > li > a {
  color: white;
}
.navbar-collapse {
  --position: relative;
  --z-index: 999;
  background: #595959;
}
/* Dashboard Styling */
header {
  border-bottom: 2px solid #e6e6e6;
  color: #999999;
  padding-top: 20px;
  padding-bottom: 20px;
}
footer {
  margin-top: 20px;
  margin-bottom: 0;
  border-top: 2px solid #e6e6e6;
}
footer div {
  padding-top: 20px;
  padding-bottom: 20px;
}
.btn-logout-bottom {
  margin-top: 20px;
}
.logged-user-name {
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 2px solid #e6e6e6;
}
#adm-dashboard {
  background: white;
}
.adm-edit-entry {
  cursor: pointer;
}
.machine {
  background-image: linear-gradient(180deg, #eeeeee 0%, #ffffff 100%);
  border-bottom: 2px solid #E6E6E6;
  padding-top: 20px;
  padding-bottom: 20px;
}
.machine-header {
  border-bottom: 1px solid #E6E6E6;
  padding-bottom: 15px;
  font-size: 22px;
  line-height: 1;
  font-weight: bold;
}
.machine-info-toggle {
  color: #4a4a4a;
  cursor: pointer;
}
.machine-info-toggle:hover {
  color: #6A6A6A;
}
.machine-info-content,
.machine-unavailable-value {
  font-size: 12px;
  line-height: 17px;
}
.machine-body {
  border-top: 1px solid #FFFFFF;
  padding-top: 15px;
}
.machine-info-content {
  padding-top: 15px;
}
.machine-action-info {
  border-left-width: 3px;
  border-left-style: solid;
  min-height: 70px;
  padding-left: 15px;
}
.machine.available .machine-action-info {
  border-left-color: #a3cc52;
}
.machine.used .machine-action-info {
  border-left-color: #e66767;
}
.machine.occupied .machine-action-info {
  border-left-color: #fae164;
}
.machine.unavailable .machine-action-info {
  border-left-color: #a6a6a6;
}
.machine-action-label {
  font-size: 9px;
  line-height: 1;
  margin-bottom: 15px;
}
.machine-price-value {
  font-weight: bold;
  font-size: 22px;
  line-height: 1;
}
.machine-price-currency {
  font-size: 12px;
  line-height: 1;
}
.machine-time-value {
  font-weight: bold;
  font-size: 30px;
  line-height: 1;
}
.machine-occupied-value {
  font-weight: bold;
  font-size: 16px;
  line-height: 1;
}
.machine-occupied-time-value {
  margin-top: 5px;
}
.delete-prompt-token {
  color: #e66767;
}
.btn-lg,
.indicator {
  height: 70px;
  font-size: 22px;
  font-weight: bold;
}
.indicator {
  width: 100%;
  text-align: center;
  line-height: 70px;
}
.indicator-occupied {
  border: 1px solid #FAE451;
  color: #FAE451;
}
.indicator-unavailable {
  border: 1px solid #A6A6A6;
  color: #A6A6A6;
}
.login {
  position: absolute;
  top: 54%;
  transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  width: 100%;
}
.login-heading {
  font-size: 18px;
}
.login-form .checkbox {
  font-weight: normal;
}
.login-form .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.login-form .form-control:focus {
  z-index: 2;
}
.login-form .ng-dirty.ng-valid {
  border: 1px solid #66dd55;
}
.login-form {
  max-width: 500px;
  padding: 15px;
  margin: 0 auto;
}
.login-form .login-form-heading,
.login-form .checkbox {
  margin-bottom: 10px;
}
.login-form input[type="text"] {
  margin-bottom: 5px;
  border-radius: 0;
  height: 35px;
  font-size: 12px;
}
.login-form input[type="password"] {
  margin-bottom: 10px;
  border-radius: 0;
  height: 35px;
  font-size: 12px;
}
.btn-login {
  height: 35px;
}
.brand-image {
  width: auto;
  height: 70px;
}
.absolute-bottom {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
}
@media (min-width: 460px) {
  .login-heading {
    font-size: 30px;
  }
  .login-form input[type="text"] {
    height: 70px;
    font-size: 18px;
  }
  .login-form input[type="password"] {
    height: 70px;
    font-size: 18px;
  }
  .btn-login {
    height: 70px;
    font-size: 22px;
    font-weight: bold;
  }
}
