<!-- Dashboard header -->
<header>
  <div class="container">

  <div class="row">
    <div class="col-xs-8">
      <div class="row">
        <div class="col-xs-12 logged-user-label">Logged in as</div>
      </div>
      <div class="row">
        <div class="col-xs-12 logged-user-value" 
             ng-bind="userFullName"></div>
      </div>
    </div>
    <div class="col-xs-4">
      <button class="btn btn-lg btn-danger btn-block" 
              ng-click="logout()">Exit&nbsp;
              <i class="fa fa-sign-out"></i></button>
    </div>
  </div>

  </div> <!-- /container -->
</header>

<!-- Machine list -->
<div class="machines">
  <fs-machine-item ng-repeat="machine in machines"></fs-machine-item>
</div> <!-- /machines -->

<!-- Footer for logout button -->
<footer class="container">
  <button class="btn btn-lg btn-danger btn-block" 
        ng-click="logout()">Exit&nbsp;
        <i class="fa fa-sign-out"></i></button>
</footer>