.DS_Store
*~
*.swp
fabsmith
localmachines
npm-debug.log
conf/app.conf
views/prod/*
routers/comments*.go
files/*
!files/favicon.*
!files/apple-touch-icon.png
!files/README.md
gateway/conf/gateway.conf
gateway/gateway
gateway/state.json
mfi/mfi
cert/
tests/conf/app.conf
tests/controllers/conf/app.conf
tests/controllers/routers/
tests/models/conf/app.conf
lastupdate.tmp
