.DS_Store
*~
*.swp
fabsmith
npm-debug.log
conf/app.conf
views/prod/*
routers/comments*.go
files/*
!files/favicon.*
!files/apple-touch-icon.png
!files/README.md
cert/
tests/controllers/conf/app.conf
tests/controllers/routers/
tests/models/conf/app.conf
lastupdate.tmp
