.DS_Store
*~
*.deb
*.swp
fabsmith
foo.state.test
localmachines
localmachines-gateway.amd64.bin
localmachines-gateway.arm.bin
localmachines.amd64.bin
localmachines.arm.bin
npm-debug.log
conf/app.conf
views/prod/*
files/*
!files/favicon.*
!files/apple-touch-icon.png
!files/README.md
gateway/conf/gateway.conf
gateway/gateway
gateway/state.json
mfi/mfi
cert/
tests/conf/app.conf
tests/controllers/conf/app.conf
tests/controllers/routers/
tests/models/conf/app.conf
lastupdate.tmp
