<div class="container-fluid">

  <h1>Coupons</h1>

  <hr>

  <div class="row">

    <div class="col-sm-3">
      <label>Static Code (optional)</label>
    </div>

    <div class="col-sm-3">
      <label># Coupons</label>
    </div>

    <div class="col-sm-3">
      <label>Value (EUR)</label>
    </div>

    <div class="col-sm-3">
    </div>

  </div>

  <div class="row">

    <div class="col-sm-3">
      <div class="form-group">
        <input placeholder="Static Code"
               type="text"
               class="form-control"
               ng-model="staticCode">
      </div>
    </div>

    <div class="col-sm-3">
      <div class="form-group">
        <input placeholder="# Coupons"
               type="number"
               class="form-control"
               ng-model="n">
      </div>
    </div>

    <div class="col-sm-3">
      <div class="form-group">
        <input placeholder="Value (EUR)"
               type="text"
               class="form-control"
               ng-model="value">
      </div>
    </div>

    <div class="col-sm-3">
      <div class="form-group">
        <button type="button"
                class="btn btn-primary btn-block"
                ng-click="generate()">
          Generate
        </button>
      </div>
    </div>

  </div>

  <hr>

  <div class="row">
    <div class="col-xs-3 text-center">
      <b>Id</b>
    </div>
    <div class="col-xs-3 text-center">
      <b>Code</b>
    </div>
    <div class="col-xs-3 text-center">
      <b>Value (EUR)</b>
    </div>
    <div class="col-xs-3 text-center">
      <b>User</b>
    </div>
  </div>

  <hr>

  <div class="row" ng-repeat="c in coupons">
    <div class="col-xs-3 text-center">
      {{c.Id}}
    </div>
    <div class="col-xs-3 text-center">
      {{c.Code}}
    </div>
    <div class="col-xs-3 text-center">
      {{c.Value}}
    </div>
    <div class="col-xs-3 text-center">
      {{c.User}}
    </div>
  </div>

</div>
