<div id="admin-memberships" class="container-fluid">

  <h1>Memberships</h1>

  <hr>

  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th>Membership Title</th>
        <th>Short Name</th>
        <th>Duration</th>
        <th>Monthly Price / {{settings && settings.Currency && settings.Currency.ValueString || '€'}}</th>
        <th>&nbsp;</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="membership in memberships | membershipsFilter:this">
        <td>{{membership.Title}}</td>
        <td>{{membership.ShortName}}</td>
        <td>{{membership.DurationMonths}} Months</td>
        <td>{{membership.MonthlyPrice | currency:''}}</td>
        <td>
          <button type="button" class="btn btn-primary btn-ico pull-right"
                  ng-click="editMembership(membership.Id)">
            <span class="fa fa-edit"></span>
          </button>
        </td>
      </tr>
    </tbody>
    
  </table>

  <hr>

  <div class="pull-right">
    <button class="btn btn-primary btn-lg"
            ng-click="setShowArchived(true)"
            ng-hide="showArchived">
      <i class="fa fa-archive"></i>&nbsp;Show archived
    </button>
    <button class="btn btn-primary btn-lg"
            ng-click="setShowArchived(false)"
            ng-show="showArchived">
      <i class="fa fa-archive"></i>&nbsp;Hide archived
    </button>

    <button class="btn btn-lg btn-primary"
            ng-click="addMembershipPrompt()">
      <span class="fa fa-plus"></span>&nbsp;Add Membership
    </button>
  </div>

</div> <!-- /container -->
