<div id="admin-memberships" class="container-fluid">

  <h1>Memberships</h1>

  <hr>

  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th>Membership Title</th>
        <th>Short Name</th>
        <th>Duration</th>
        <th>Unit</th>
        <th>Monthly Price / €</th>
        <th>&nbsp;</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="membership in memberships">
        <td>{{membership.Title}}</td>
        <td>{{membership.ShortName}}</td>
        <td>{{membership.Duration}}</td>
        <td>{{membership.Unit}}</td>
        <td>{{membership.MonthlyPrice | currency:''}}</td>
        <td>
          <button type="button" class="btn btn-primary btn-ico pull-right"
                  ng-click="editMembership(membership.Id)">
            <span class="fa fa-edit"></span>
          </button>
        </td>
      </tr>
    </tbody>
    
  </table>

  <hr>

  <button class="btn btn-lg btn-primary pull-right"
          ng-click="addMembershipPrompt()">
    <span class="fa fa-plus"></span>&nbsp;Add Membership
  </button>

</div> <!-- /container -->
