<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" ng-app="fabsmith" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="fabsmith" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="fabsmith" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" ng-app="fabsmith" class="no-js"> <!--<![endif]-->
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
	<meta name="description" content="<<<.AppDescription>>>">
	<meta name="author" content="Krisjanis Rijnieks">
	<title><<<.AppTitle>>></title>

	<!-- Bootstrap core CSS -->
	<link href="/static/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
	
	<!-- Global and interface specific CSS includes -->
	<link rel="stylesheet" href="/static/dev/global/global.css">
	<link rel="stylesheet" href="/static/dev/machineinterface/machineinterface.css">

	<!-- Load Modernizr javaScript before everything else -->
	<script src="/static/bower_components/modernizr/modernizr.js"></script>

	<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!--[if lt IE 9]>
		<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
		<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
	<![endif]-->
</head>
<body ng-controller="MainCtrl">

	<!--[if lt IE 7]>
			<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
	<![endif]-->

	<div ng-view></div>

	<!-- Loader -->
	<div id="loader-global" class="hidden">
		<div class="spinner">
			<img src="/static/dev/global/img/loader.gif" alt="Loading...">
		</div>
	</div>

	<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
	<script src="/static/dev/global/js/ie10-viewport-bug-workaround.js"></script>

	<!-- Angular application JavaScript dependencies -->
	<script src="/static/dev/global/js/md5.js"></script>
	<script src="/static/bower_components/jquery/dist/jquery.js"></script>
	<script src="/static/bower_components/angular/angular.js"></script>
	<script src="/static/bower_components/angular-route/angular-route.js"></script>
	<script src="/static/bower_components/angular-timer/dist/angular-timer.min.js"></script>
	<script src="/static/bower_components/angular-cookies/angular-cookies.min.js"></script>
	<script src="/static/bower_components/angular-ui-bootstrap/src/modal/modal.js"></script>
	<script src="/static/bower_components/angular-ui-bootstrap/src/transition/transition.js"></script>
	
	<!-- Application code JavaScript includes -->
	<script src="/static/dev/machineinterface/machineinterface.js"></script>
	<script src="/static/dev/machineinterface/login/login.js"></script>
	<script src="/static/dev/machineinterface/machines/machines.js"></script>
	<script src="/static/dev/machineinterface/logout/logout.js"></script>
	<script src="/static/dev/global/angular/components/version/version.js"></script>
	<script src="/static/dev/global/angular/components/version/version-directive.js"></script>
	<script src="/static/dev/global/angular/components/version/interpolate-filter.js"></script>
	<script src="/static/dev/global/angular/filters.js"></script>

	<!-- Load nice fonts -->
	<script src="/static/bower_components/webfontloader/webfontloader.js"></script>
	<script>
		WebFont.load({
			google: {
				families: ['Open Sans', 'Open Sans:bold']
			}
		});
	</script>
</body>
</html>
