<div id="admin-membership" class="container-fluid">

  <h1>Edit Membership</h1>

  <hr>

  <div class="row">

    <div class="col-sm-3">
      <div class="form-group">
        <label for="membership-title">Membership Title</label>
        <input type="text" id="membership-title" class="form-control"
               placeholder="Membership title" ng-model="membership.Title">
      </div>
    </div>

    <div class="col-sm-3">
      <div class="form-group">
        <label for="membership-shortname">Shortname</label>
        <input type="text" id="membership-shortname" class="form-control"
               placeholder="Shortname" ng-model="membership.ShortName">
      </div>
    </div>
    
    <div class="col-sm-3">
      <div class="form-group">
        <label for="membership-duration">Duration (days)</label>
        <input type="text" id="membership-duration" class="form-control"
               placeholder="Duration" ng-model="membership.Duration">
      </div>
    </div>
    
    <div class="col-sm-3">
      <div class="form-group">
        <label for="membership-price">Monthly Price</label>
        <div class="input-group">
          <input type="text" id="membership-price" class="form-control"
                 placeholder="Monthly Price" ng-model="membership.MonthlyPrice">
          <div class="input-group-addon">
            <i class="fa fa-euro"></i>
          </div>
        </div>
      </div>
    </div>
  
  </div><!-- /.row -->

  <div class="row">
    <div class="col-sm-6">
      <div class="form-group">
        <label>Machines Affected by Membership</label>
        <div class="row">

          <div class="col-sm-6" ng-repeat="machine in machines">
            <div class="checkbox-inline">
              <label title="{{machine.Description}}">
                <input type="checkbox"
                       ng-model="machine['Checked']">
                {{machine.Name}}
              </label>
            </div>
          </div>
          
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="form-group">
        <label for="membership-price-deduction">Machine price deduction</label>
        <div class="input-group">
          <input type="text" 
            id="membership-price-deduction" 
            class="form-control"
            placeholder="Percentage" 
            ng-model="membership.MachinePriceDeduction">
          <div class="input-group-addon">
            <b>%</b>
          </div>
        </div>
      </div>
    </div>
  </div><!-- /.row -->

  <div class="row">

    <div class="col-sm-3">
      <div class="form-group">
        <label>Auto Extend</label>
        <div class="checkbox-inline">
          <label title="Automatically Extend Membership. Or not.">
            <input type="checkbox" 
              id="membership-auto-extend"
              ng-model="membership.AutoExtend"> Automatically Extend Membership
          </label>
        </div>
      </div>
    </div>

    <div class="col-sm-3">
      <div class="form-group">
        <label for="membership-extend-duration">Extend By</label>
        <div class="input-group">
          <input type="text"
            id="membership-extend-duration"
            class="form-control"
            value="membership.AutoExtendDuration"
            ng-model="membership.AutoExtendDuration"
            ng-disabled="!membership.AutoExtend">
          <div class="input-group-addon">days</div>
        </div>
      </div>
    </div>
  
  </div>

  <hr>

  <div class="pull-right">

    <button class="btn btn-danger btn-lg"
            ng-click="deleteMembershipPrompt()">
      <i class="fa fa-trash-o"></i>&nbsp;Delete
    </button>

    <button class="btn btn-primary btn-lg"
            ng-click="updateMembership()">
      <i class="fa fa-save"></i>&nbsp;Save
    </button>

  </div>

</div> <!-- /container -->
