<div class="container-fluid">

  <h1>Edit User</h1>
  <p>Created on {{user.Created | date : 'd MMM yyyy H:mm'}}</p>

  <hr>
  
  <div class="row">

    <div class="col-sm-3">
      <div class="form-group">
        <label for="user-first-name">First Name</label>
        <input id="user-first-name" type="text" class="form-control" 
               placeholder="Enter first name" ng-model="user.FirstName">
      </div>
    </div>

    <div class="col-sm-3">
      <div class="form-group">
        <label for="user-last-name">Last Name</label>
        <input id="user-last-name" type="text" class="form-control" 
               placeholder="Enter last name" ng-model="user.LastName">
      </div>
    </div>

    <div class="col-sm-3">
      <div class="form-group">
        <label for="user-username">Username</label>
        <input id="user-username" type="text" class="form-control" 
               placeholder="Enter Username" ng-model="user.Username">
      </div>
    </div>

    <div class="col-sm-3">
      <div class="form-group">
        <label for="user-email">E-Mail</label>
        <input id="user-email" type="text" class="form-control"
               placeholder="Enter E-Mail" ng-model="user.Email">
      </div>
    </div>

  </div> <!-- /.row -->

  <!-- Billing Address -->
  <div class="row">
    <div class="col-sm-3">
      <label for="phone">Phone</label>
      <input 
        type="text" 
        class="form-control"
        id="phone"
        ng-model="user.Phone">
    </div>
    <div class="col-sm-3">
      <div class="form-group">
        <label for="invoice-addr">Billing Address</label>
        <input id="invoice-addr"
          class="form-control"
          placeholder="Billing Address"
          ng-model="user.InvoiceAddr">
      </div>
    </div>
    <div class="col-sm-3">
      <div class="form-group">
        <label for="zip-code">ZIP Code</label>
        <input id="zip-code"
          class="form-control"
          placeholder="ZIP"
          ng-model="user.ZipCode">
      </div>
    </div>
    <div class="col-sm-3">
      <div class="form-group">
        <label for="city">City</label>
        <input id="city"
          class="form-control"
          placeholder="City"
          ng-model="user.City">
      </div>
    </div>
  </div> <!-- /.row -->

  <div class="row">
    <div class="col-sm-3">
      <div class="form-group">
        <label for="country">Country</label>
        <select id="country"
          class="form-control" 
          ng-model="user.CountryCode">
          <option value="" selected disabled>Select Country</option>
          <option ng-repeat="country in countryCodes" value="{{country.Code}}">
            {{country.Name}}
          </option>
        </select>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="form-group">
        <label for="company">Company</label>
        <input id="company"
          class="form-control"
          placeholder="Company"
          ng-model="user.Company">
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-3">
      <div class="form-group">
        <label for="fastbill-customer-number">FastBill Customer Number</label>
        <input 
          id="fastbill-customer-number"
          class="form-control"
          ng-model="user.ClientId">
      </div>
    </div>
    <div class="col-sm-3">
      <div class="form-group">
        <label for="fastbill-action">FastBill Action</label>
        <select 
          id="fastbill-action"
          class="form-control"
          ng-model="fastBillAction">
          <option value="1">Create Fastbill customer (gets customer #)</option>
          <option value="2">Load data from FastBill</option>
          <option value="3">Update FastBill data</option>
        </select>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="form-group">
        <label>Sync</label>
        <button 
          ng-click="syncWithFastBill()"
          class="btn btn-primary btn-block">
          Sync with FastBill
        </button>  
      </div>
    </div>
    <div class="col-sm-3">
    </div>
  </div> <!-- /.row -->

  <div class="row">
    <div class="col-sm-3">
      <div class="form-group">
        <label>
          <input type="checkbox" ng-model="user.NoAutoInvoicing"> No Automatic Invoicing
        </label>
      </div>
    </div>
  </div>

  <div>
    <label for="user-password">User Password</label>
  </div>

  <div class="row">
    
      <div class="col-sm-3">
        <div class="form-group">
          <input type="password" class="form-control" 
                 id="user-password" placeholder="New password"
                 ng-model="userPassword">
        </div>
      </div>

      <div class="col-sm-3">
        <div class="form-group">
          <input type="password" class="form-control"
                 placeholder="Repeat password"
                 ng-model="userPasswordRepeat">
        </div>
      </div>

      <div class="col-sm-3">
        <div class="form-group">
          <button class="btn btn-primary btn-block" ng-click="updatePassword()">
            Update Password
          </button>
        </div>
      </div>
    
  </div> <!-- /.row -->

  <div>
    <label for="user-nfc-uid">NFC UID</label>
  </div>

  <div class="row">

    <div class="col-sm-3">
      <div class="form-group">
        <input id="user-nfc-uid" type="text" 
               class="form-control" ng-model="nfcUid">
      </div>
    </div>

    <div class="col-sm-3" ng-show="nfcSupport">
      <div class="form-group">
        <button 
          class="btn btn-warning btn-block" 
          ng-disabled="nfcPolling"
          ng-click="getNfcUid()">
          {{nfcButtonLabel}}
        </button>
      </div>
    </div>

    <div class="col-sm-3">
      <div class="form-group">
        <button 
          class="btn btn-primary btn-block" 
          ng-click="updateNfcUid()">
          Update NFC UID
        </button>
      </div>
    </div>

    
  </div><!-- /.row -->

  <div class="row">
    <div class="col-sm-12">
      <h2>Comments</h2>
    </div>
    <div class="col-sm-6">
      <textarea class="form-control" ng-model="user.Comments"></textarea>
    </div>
  </div>

  <div class="row">

  <!-- Roles -->
    <div class="col-sm-6">
      <div class="row">
        <div class="col-sm-12">
          <h2>Role</h2>
        </div>
        <div class="col-sm-12 form-group">
          <div class="col-sm-12" ng-repeat="userLocation in userLocations">
            <div ng-show="globalConfigVisible || userLocation.LocationId == locationId">
              <div class="col-sm-6">
                {{userLocation.Location.Title}}
              </div>
              <div class="col-sm-5">
                <select class="form-control"
                        ng-model="userLocation.UserRole"
                        ng-change="updateUserLocation(userLocation)">
                  <option value="notaffiliated">Not affiliated</option>
                  <option value="staff">Staff</option>
                  <option value="member">Member</option>
                  <option value="admin">Admin</option>
                </select>
              </div>
              <div class="col-sm-1">
                <button 
                  type="button" 
                  class="btn btn-danger btn-ico" 
                  ng-click="deleteUserLocationPrompt(userLocation.LocationId)">
                  <i class="fa fa-close"></i>
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-12 form-group add-user-location">
          <div class="col-sm-6">
            <select class="form-control">
              <option value="">Select new location</option>
              <option ng-repeat="location in locations"
                      ng-show="globalConfigVisible || location.Id == locationId"
                      value="{{location.Id}}">
                {{location.Title}}
              </option>
            </select>
          </div>
          <div class="col-sm-6">
            <button 
              class="btn btn-primary btn-block" 
              id="user-add-user-location-btn" 
              ng-click="addUserLocation()">
              <i class="fa fa-plus"></i>&nbsp;Add User Location
            </button>
          </div>
        </div>
      </div>
    </div>

    <!-- Machine Permissions -->
    <div class="col-sm-6">
      <div class="row">
        
        <div class="col-sm-12">
          <h2>Machine Permissions</h2>
        </div>

        <!-- Machine iterator -->
        <div class="col-sm-6" ng-repeat="machine in availableMachines">
          <div class="checkbox-inline">
            <label title="{{machine.Description}}">
              <input 
                type="checkbox" 
                ng-model="machine['Checked']"
                ng-disabled="machine['Disabled']"> 
              {{machine.Name}}
            </label>
          </div>
        </div>
        
      </div> <!-- /.row -->
    </div>

  </div> <!-- /.row -->


  <h2>User Memberships</h2>
  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th>Membership Name</th>
        <th>Start Date</th>
        <th>End Date</th>
        <th>Extends Automatically</th>
        <th>Status</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-hide="userMemberships.length">
        <td colspan="6">User has no memberships</td>
      </tr>
      <tr ng-repeat="userMembership in userMemberships">
        <td>{{userMembership.Title}}</td>
        <td style="min-width:90px">{{userMembership.StartDate}}</td>
        <td style="min-width:160px">
          <div class="form-inline">
            <div class="input-group">
              <input
                class="adm-user-membership-end-date form-control datepicker"
                data-user-membership-id="{{userMembership.Id}}"
                placeholder="End Date"
                value="{{userMembership.EndDate}}">
              <div class="input-group-addon">
                <i class="fa fa-calendar"></i>
              </div>
            </div>
          </div>
        </td>
        <td>
          <input 
            type="checkbox" 
            ng-model="userMembership.AutoExtend"
            ng-disabled="userMemberhip.Inactive"
            ng-change="updateUserMembership(userMembership.Id)">
        </td>
        <td>
          <div ng-show="userMembership.Active">Active</div>
          <div ng-show="userMembership.Cancelled">Cancelled</div>
          <div ng-show="userMembership.Inactive">Inactive</div>
        </td>
      </tr>
    </tbody>
  </table>

  <div class="row">
    <div class="col-sm-3">
      <div class="form-group">
        <select 
          class="form-control" 
          id="user-select-membership" 
          placeholder="Membership">
          <!-- These have to be loaded via API -->
          <option value="" selected disabled>Select Membership</option>
          <option 
            ng-repeat="membership in memberships" 
            value={{membership.Id}}>
            {{membership.Title}}
          </option>
        </select>
      </div>
    </div>

    <div class="col-sm-3">
      <div class="form-group">
        <div class="input-group">
          <input 
            id="adm-add-user-membership-start-date" 
            class="form-control datepicker" 
            placeholder="Start Date">
          <div class="input-group-addon">
            <i class="fa fa-calendar"></i>
          </div>
        </div>
      </div>
    </div>

    <div class="col-sm-3">
      <button 
        class="btn btn-primary btn-block" 
        id="user-add-membership-btn" 
        ng-click="addUserMembership()">
        <i class="fa fa-plus"></i>&nbsp;Add Membership
      </button>
    </div>
  </div>

  <hr>

  <div class="pull-right">
    <button 
      class="btn btn-primary btn-lg" 
      ng-click="saveUser()">
      <i class="fa fa-save"></i>&nbsp;Save
    </button>
  </div>

</div> <!-- /container -->
