<div class="container-fluid">

  <h1>Edit User</h1>
  <p>Created on {{user.Created | date : 'd MMM yyyy H:mm'}}</p>

  <hr>
  
  <div class="row">

    <div class="col-sm-3">
      <div class="form-group">
        <label for="user-first-name">First Name</label>
        <input id="user-first-name" type="text" class="form-control" 
               placeholder="Enter first name" ng-model="user.FirstName">
      </div>
    </div>

    <div class="col-sm-3">
      <div class="form-group">
        <label for="user-last-name">Last Name</label>
        <input id="user-last-name" type="text" class="form-control" 
               placeholder="Enter last name" ng-model="user.LastName">
      </div>
    </div>

    <div class="col-sm-3">
      <div class="form-group">
        <label for="user-username">Username</label>
        <input id="user-username" type="text" class="form-control" 
               placeholder="Enter Username" ng-model="user.Username">
      </div>
    </div>

    <div class="col-sm-3">
      <div class="form-group">
        <label for="user-email">E-Mail</label>
        <input id="user-email" type="text" class="form-control"
               placeholder="Enter E-Mail" ng-model="user.Email">
      </div>
    </div>

  </div> <!-- /.row -->

  <!-- Billing Address -->
  <div class="row">
    <div class="col-sm-6">
      <div class="form-group">
        <label for="invoice-addr">Billing Address</label>
        <textarea id="invoice-addr"
          class="form-control"
          placeholder="Billing Address"
          ng-model="user.InvoiceAddr">
        </textarea>
      </div>
    </div>
    <div class="col-sm-3">
      <label for="phone">Phone</label>
      <input type="text" class="form-control"
        id="phone" placeholder="+371 9998888777"
        ng-model="user.Phone">
    </div>
  </div>

  <div>
    <label for="user-password">User Password</label>
  </div>

  <div class="row">
    
      <div class="col-sm-3">
        <div class="form-group">
          <input type="password" class="form-control" 
                 id="user-password" placeholder="New password"
                 ng-model="userPassword">
        </div>
      </div>

      <div class="col-sm-3">
        <div class="form-group">
          <input type="password" class="form-control"
                 placeholder="Repeat password"
                 ng-model="userPasswordRepeat">
        </div>
      </div>

      <div class="col-sm-3">
        <div class="form-group">
          <button class="btn btn-primary btn-block" ng-click="updatePassword()">
            Update Password
          </button>
        </div>
      </div>
    
  </div> <!-- /.row -->

  <div>
    <label for="user-nfc-uid">NFC UID</label>
  </div>

  <div class="row">

    <div class="col-sm-3">
      <div class="form-group">
        <input id="user-nfc-uid" type="text" 
               class="form-control" ng-model="nfcUid">
      </div>
    </div>

    <div class="col-sm-3" ng-show="nfcSupport">
      <div class="form-group">
        <button class="btn btn-warning btn-block" 
                ng-disabled="nfcPolling"
                ng-click="getNfcUid()">
          {{nfcButtonLabel}}
        </button>
      </div>
    </div>

    <div class="col-sm-3">
      <div class="form-group">
        <button class="btn btn-primary btn-block" 
                ng-click="updateNfcUid()">
          Update NFC UID
        </button>
      </div>
    </div>

    
  </div><!-- /.row -->

  <div class="row">
    <div class="col-sm-12">
      <h2>Comments</h2>
    </div>
    <div class="col-sm-6">
      <textarea class="form-control" ng-model="user.Comments"></textarea>
    </div>
  </div>

  <div class="row">

  <!-- Roles -->
    <div class="col-sm-6">
      <div class="row">
        <div class="col-sm-12">
          <h2>Role</h2>
        </div>
        <div class="col-sm-6">
          <div class="checkbox-inline">
            <label>
              <input type="checkbox" 
                     ng-model="user.Admin"
                     ng-change="updateAdminStatus()">
              Admin
            </label>
          </div>
        </div>
        <div class="col-sm-6 hidden-xs">
          <div class="tip">Admins can access the admin panel - others can not.</div>
        </div>
      </div>
    </div>

    <!-- Machine Permissions -->
    <div class="col-sm-6">
      <div class="row">
        
        <div class="col-sm-12">
          <h2>Machine Permissions</h2>
        </div>

        <!-- Machine iterator -->
        <div class="col-sm-6" ng-repeat="machine in availableMachines">
          <div class="checkbox-inline">
            <label title="{{machine.Description}}">
              <input type="checkbox" 
                     ng-model="machine['Checked']"
                     ng-disabled="machine['Disabled']"> 
              {{machine.Name}}
            </label>
          </div>
        </div>
        
      </div> <!-- /.row -->
    </div>

  </div> <!-- /.row -->


  <h2>User Memberships</h2>
  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th>Membership Name</th>
        <th>Start Date</th>
        <th>End Date</th>
        <th style="min-width:60px">&nbsp;</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="userMembership in userMemberships">
        <td>{{membershipsById[userMembership.MembershipId].Title}}</td>
        <td>{{userMembership.StartDate}}</td>
        <td>{{userMembership.EndDate}}</td>
        <td>
          <div class="pull-right">
            <!-- <button type="button" class="btn btn-primary btn-ico">
              <i class="fa fa-edit"></i>
            </button> -->
            <button type="button" class="btn btn-danger btn-ico" ng-click="deleteUserMembershipPrompt(userMembership.Id)">
              <i class="fa fa-close"></i>
            </button>
          </div>
        </td>
      </tr>
    </tbody>
  </table>

  <div class="row">
    <div class="col-sm-3">
      <div class="form-group">
        <select class="form-control" id="user-select-membership" placeholder="Membership">
          <!-- These have to be loaded via API -->
          <option value="" selected disabled>Select Membership</option>
          <option ng-repeat="membership in memberships" value={{membership.Id}}>
            {{membership.Title}}
          </option>
        </select>
      </div>
    </div>

    <div class="col-sm-3">
      <div class="form-group">
        <div class="input-group">
          <input id="adm-add-user-membership-start-date" class="form-control datepicker" placeholder="Start Date">
          <div class="input-group-addon">
            <i class="fa fa-calendar"></i>
          </div>
        </div>
      </div>
    </div>

    <div class="col-sm-3">
      <button class="btn btn-primary btn-block" id="user-add-membership-btn" ng-click="addUserMembership()">
        <i class="fa fa-plus"></i>&nbsp;Add Membership
      </button>
    </div>
  </div>

  <hr>

  <div class="pull-right">
    <button class="btn btn-danger btn-lg" ng-click="deleteUserPrompt()">
      <i class="fa fa-trash-o"></i>&nbsp;Delete
    </button>
    <button class="btn btn-primary btn-lg" ng-click="saveUser()">
      <i class="fa fa-save"></i>&nbsp;Save
    </button>
  </div>

</div> <!-- /container -->
