<div class="container-fluid" ng-show="location">

  <h1>Edit User</h1>
  <p>Created on {{user.Created | date : 'd MMM yyyy H:mm'}}</p>

  <hr>
  
  <div class="row">

    <div class="col-sm-3">
      <div class="form-group">
        <label for="user-first-name">First Name</label>
        <input id="user-first-name" type="text" class="form-control" 
               placeholder="Enter first name" ng-model="user.FirstName">
      </div>
    </div>

    <div class="col-sm-3">
      <div class="form-group">
        <label for="user-last-name">Last Name</label>
        <input id="user-last-name" type="text" class="form-control" 
               placeholder="Enter last name" ng-model="user.LastName">
      </div>
    </div>

    <div class="col-sm-3">
      <div class="form-group">
        <label for="user-username">Username</label>
        <input id="user-username" type="text" class="form-control" 
               placeholder="Enter Username" ng-model="user.Username">
      </div>
    </div>

    <div class="col-sm-3">
      <div class="form-group">
        <label for="user-email">E-Mail</label>
        <input id="user-email" type="text" class="form-control"
               placeholder="Enter E-Mail" ng-model="user.Email">
      </div>
    </div>

  </div> <!-- /.row -->

  <!-- Billing Address -->
  <div class="row" ng-hide="location.University">
    <div class="col-sm-3">
      <label for="phone">Phone</label>
      <input 
        type="text" 
        class="form-control"
        id="phone"
        ng-model="user.Phone">
    </div>
    <div class="col-sm-3">
      <div class="form-group">
        <label for="invoice-addr">Billing Address</label>
        <input id="invoice-addr"
          class="form-control"
          placeholder="Billing Address"
          ng-model="user.InvoiceAddr">
      </div>
    </div>
    <div class="col-sm-3">
      <div class="form-group">
        <label for="zip-code">ZIP Code</label>
        <input id="zip-code"
          class="form-control"
          placeholder="ZIP"
          ng-model="user.ZipCode">
      </div>
    </div>
    <div class="col-sm-3">
      <div class="form-group">
        <label for="city">City</label>
        <input id="city"
          class="form-control"
          placeholder="City"
          ng-model="user.City">
      </div>
    </div>
  </div> <!-- /.row -->

  <div class="row" ng-hide="location.University">
    <div class="col-sm-3">
      <div class="form-group">
        <label for="country">Country</label>
        <select id="country"
          class="form-control" 
          ng-model="user.CountryCode">
          <option value="" selected disabled>Select Country</option>
          <option ng-repeat="country in countryCodes" value="{{country.Code}}">
            {{country.Name}}
          </option>
        </select>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="form-group">
        <label for="company">Company</label>
        <input id="company"
          class="form-control"
          placeholder="Company"
          ng-model="user.Company">
      </div>
    </div>
  </div>

  <div class="row" ng-hide="location.University">
    <div class="col-sm-3">
      <div class="form-group">
        <label for="fastbill-customer-number">FastBill Customer Number</label>
        <input 
          id="fastbill-customer-number"
          class="form-control"
          ng-model="user.ClientId">
      </div>
    </div>
    <div class="col-sm-3">
      <div class="form-group">
        <label for="fastbill-action">FastBill Action</label>
        <select 
          id="fastbill-action"
          class="form-control"
          ng-model="fastBillAction">
          <option value="1">Create Fastbill customer (gets customer #)</option>
          <option value="2">Load data from FastBill</option>
          <option value="3">Update FastBill data</option>
        </select>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="form-group">
        <label>Sync</label>
        <button 
          ng-click="syncWithFastBill()"
          class="btn btn-primary btn-block">
          Sync with FastBill
        </button>  
      </div>
    </div>
    <div class="col-sm-3">
    </div>
  </div> <!-- /.row -->

  <div class="row" ng-hide="location.University">
    <div class="col-sm-3">
      <div class="form-group">
        <label>
          <input type="checkbox" ng-model="user.NoAutoInvoicing"> No Automatic Invoicing
        </label>
      </div>
    </div>
  </div>

  <div class="row" ng-hide="location.University">
    <div class="col-sm-3">
      <div class="form-group">
        <label for="machine-type">Custom Fastbill Template</label>
        <select class="form-control"
                ng-model="user.FastbillTemplateId">
          <option value="0" selected>Use standard template</option>
          <option ng-repeat="t in fastbillTemplates"
                  value="{{t.TEMPLATE_ID}}">
            {{t.TEMPLATE_NAME}}
          </option>
        </select>
      </div>
    </div>
  </div>

  <div class="row" ng-hide="location.University">
    <div class="col-sm-3">
      <div class="form-group">
        <label>
          <input type="checkbox" ng-model="user.EuDelivery"> Inner EU delivery
        </label>
      </div>
    </div>
  </div>

  <div>
    <label for="user-password">User Password</label>
  </div>

  <div class="row">
    
      <div class="col-sm-3">
        <div class="form-group">
          <input type="password" class="form-control" 
                 id="user-password" placeholder="New password"
                 ng-model="userPassword">
        </div>
      </div>

      <div class="col-sm-3">
        <div class="form-group">
          <input type="password" class="form-control"
                 placeholder="Repeat password"
                 ng-model="userPasswordRepeat">
        </div>
      </div>

      <div class="col-sm-3">
        <div class="form-group">
          <button class="btn btn-primary btn-block" ng-click="updatePassword()">
            Update Password
          </button>
        </div>
      </div>
    
  </div> <!-- /.row -->

  <div id="university-fields-labels" class="row" ng-show="location.University">
    <div class="col-sm-3">
      <label for="nfc-id">NFC ID</label>
    </div>

    <div class="col-sm-3">
    </div>

    <div class="col-sm-3">
      <label for="student-id">Student ID</label>
    </div>

    <div class="col-sm-3">
      <label for="security-briefing">Security Briefing</label>
    </div>
  </div>
  
  

  <div id="university-fields" class="row" ng-show="location.University">
    <div class="col-sm-3">
      <div class="form-group">
        <input id="nfc-id"
          class="form-control"
          placeholder="NFC ID"
          ng-model="nfcId">
      </div>
    </div>

    <div class="col-sm-3">
      <div class="form-group">
        <button class="btn btn-primary btn-block" ng-click="updateNfcID()">
          Update NFC ID
        </button>
      </div>
    </div>

    <div class="col-sm-3">
      <div class="form-group">

        <input id="student-id"
          class="form-control"
          placeholder="Student ID"
          ng-model="user.StudentId">
      </div>
    </div>

    <div class="col-sm-3">
      <div class="form-group">
        <div class="input-group">
          <input 
            id="security-briefing" 
            class="form-control datepicker" 
            placeholder="Not briefed yet">
          <div class="input-group-addon">
            <i class="fa fa-calendar"></i>
          </div>
        </div>
      </div>
    </div>
  </div> <!-- /.row -->


  <div class="row">
    <div class="col-sm-12">
      <h2>Comments</h2>
    </div>
    <div class="col-sm-6">
      <textarea class="form-control" ng-model="user.Comments"></textarea>
    </div>
  </div>

  <div class="row">

  <!-- Roles -->
    <div class="col-sm-6">
      <div class="row">
        <div class="col-sm-12">
          <h2>Role</h2>
        </div>
        <div class="col-sm-12 form-group">
          <div class="col-sm-12" ng-repeat="userLocation in userLocations">
            <div ng-show="globalConfigVisible || userLocation.LocationId == locationId">
              <div class="col-sm-6">
                {{userLocation.Location.Title}}
              </div>
              <div class="col-sm-6">
                <select class="form-control"
                        ng-model="userLocation.UserRole"
                        ng-change="updateUserLocation(userLocation)">
                  <option value="archived">Archived</option>
                  <option value="member">Member</option>
                  <option value="staff">Staff</option>
                  <option value="api">Api</option>
                  <option value="admin">Admin</option>
                </select>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Machine Permissions -->
    <div class="col-sm-6">
      <div class="row">
        
        <div class="col-sm-12">
          <h2>Machine Permissions</h2>
        </div>

        <!-- Machine iterator -->
        <div class="col-sm-6" ng-repeat="machine in availableMachines | machinesFilter:this">
          <div class="checkbox-inline">
            <label title="{{machine.Description}}">
              <input 
                type="checkbox" 
                ng-model="machine['Checked']"
                ng-disabled="machine['Disabled']"> 
              {{machine.Name}}
            </label>
          </div>
        </div>
        
      </div> <!-- /.row -->
    </div>

  </div> <!-- /.row -->

  <div id="user-memberships" ng-hide="location.University"> <!-- User Memberships-->
    <h2>User Memberships</h2>
    <table class="table table-striped table-hover">
      <thead>
        <tr>
          <th>Membership Name</th>
          <th>Start Date</th>
          <th>Termination Date</th>
          <th>Minimum Duration (months)</th>
          <th>Duration (months)</th>
          <th style="min-width:60px">&nbsp;</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-hide="userMemberships.length">
          <td colspan="6">User has no memberships</td>
        </tr>
        <tr ng-repeat="userMembership in userMemberships">
          <td>{{userMembership.Membership.Title}}</td>
          <td style="min-width:90px">
            <div class="form-inline">
              <div class="input-group">
                <input
                  class="adm-user-membership-date adm-user-membership-start-date form-control datepicker"
                  data-user-membership-id="{{userMembership.Id}}"
                  placeholder="Start Date"
                  value="{{userMembership.StartDate}}">
                <div class="input-group-addon">
                  <i class="fa fa-calendar"></i>
                </div>
              </div>
            </div>
          </td>
          <td style="min-width:160px">
            <div ng-show="userMembership.TerminationDateFormatted">
              <div class="input-group">
                <input
                  class="adm-user-membership-date adm-user-membership-termination-date form-control datepicker"
                  data-user-membership-id="{{userMembership.Id}}"
                  placeholder="YYYY-MM-DD"
                  value="{{userMembership.TerminationDateFormatted}}">
                <div class="input-group-addon"
                     style="cursor: pointer"
                     ng-click="unsetTerminationDate(userMembership.Id)">
                  <i class="fa fa-close"></i>
                </div>
              </div>
            </div>
            <button 
              class="btn btn-danger"
              ng-click="setTerminationDate(userMembership.Id)"
              ng-hide="userMembership.TerminationDateFormatted">
              Set Termination Date
            </button>
          </td>
          <td>
            {{userMembership.InitialDurationMonths}}
          </td>
          <td>
            {{!_.isNumber(userMembership.DurationMonths) ? userMembership.DurationMonths : 'open end'}}
          </td>
          <td>
            <div class="pull-right">
              <button 
                type="button" 
                class="btn btn-primary btn-ico" 
                ng-click="updateUserMembershipPrompt(userMembership.Id)">
                <i class="fa fa-save"></i>
              </button>
              <button 
                type="button" 
                class="btn btn-danger btn-ico" 
                ng-click="deleteUserMembershipPrompt(userMembership.Id)">
                <i class="fa fa-close"></i>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>

    <div class="row">
      <div class="col-sm-3">
        <div class="form-group">
          <select 
            class="form-control" 
            id="user-select-membership" 
            placeholder="Membership">
            <!-- These have to be loaded via API -->
            <option value="" selected disabled>Select Membership</option>
            <option ng-repeat="membership in memberships | membershipsFilter:this" 
                    value={{membership.Id}}>
              {{membership.Title}}
            </option>
          </select>
        </div>
      </div>

      <div class="col-sm-3">
        <div class="form-group">
          <div class="input-group">
            <input 
              id="adm-add-user-membership-start-date" 
              class="form-control datepicker" 
              placeholder="Start Date">
            <div class="input-group-addon">
              <i class="fa fa-calendar"></i>
            </div>
          </div>
        </div>
      </div>

      <div class="col-sm-3">
        <button 
          class="btn btn-primary btn-block" 
          id="user-add-membership-btn" 
          ng-click="addUserMembership()">
          <i class="fa fa-plus"></i>&nbsp;Add
        </button>
      </div>

      <div class="col-sm-3">
      </div>
    </div>

  </div> <!-- User Memberships -->

  <hr>

  <div class="pull-right">
    <button class="btn btn-danger btn-lg"
            ng-click="setArchived(true)"
            ng-hide="userLocation.UserRole == 'archived'">
      <i class="fa fa-archive"></i>&nbsp;Archive
    </button>
    <button class="btn btn-danger btn-lg"
            ng-click="setArchived(false)"
            ng-show="userLocation.UserRole == 'archived'">
      <i class="fa fa-archive"></i>&nbsp;Unarchive
    </button>

    <button 
      class="btn btn-primary btn-lg" 
      ng-click="saveUser()">
      <i class="fa fa-save"></i>&nbsp;Save
    </button>
  </div>

</div> <!-- /container -->
