@fablabbln-red: #E9535D;
@fablabbln-blue: #64C5E5;
@fablabbln-yellow: #FBE16B;

@mobile-screen-breakpoint: 728px;

@bg-color-default: #ffffff;
@text-color-default: #4a4a4a;
@navbar-background-color: white;

@color-neutral: #A6A6A6;
@color-primary: #A3CC52;
@color-danger: #E66767;
@color-warning: #FAE164;
@color-reservation: #6ACDDE;

@text-color-neutral: #ffffff;
@text-color-primary: #ffffff;
@text-color-danger: #ffffff;
@text-color-warning: #F56822;
@text-color-reservation: #ffffff;

@m-ms-maintenance-grey: #8e8e8e;
@m-ms-maintenance-yellow: #EBE44D;
@m-ms-maintenance-light-grey: #dddddd;
@m-ms-maintenance-light-yellow: #faf5cc;

@m-color-occupied: #FFBB00;

@ms-bg-color-maintenance: white;
@ms-hover-color-available: #00ED90;
@ms-hover-color-locked: #ADADAD;
@ms-hover-color-maintenance: #8E8E8E;
@ms-hover-color-occupied: #FFBB00;
@ms-hover-color-reserved: #2977E4;
@ms-hover-color-running: #FF0000;
@ms-hover-color-staff: #EEEEEE;

@lg-height: 70px;
