/*

http://www.network-science.de/ascii/ 
font: basic

d8888b. d88888b  .d8b.  d8888b. .88b  d88. d88888b 
88  `8D 88'     d8' `8b 88  `8D 88'YbdP`88 88'     
88oobY' 88ooooo 88ooo88 88   88 88  88  88 88ooooo 
88`8b   88~~~~~ 88~~~88 88   88 88  88  88 88~~~~~ 
88 `88. 88.     88   88 88  .8D 88  88  88 88.     
88   YD Y88888P YP   YP Y8888D' YP  YP  YP Y88888P 

Mobile First!

Design the CSS in a mobile-first way. The default styles should be for the 
small screens (winWidth < 728px). For the big screens search for the media 
query at the bottom: @media (min-width: 768px) { ...

*/
@import "~bootstrap-less/bootstrap/bootstrap.less";
@import "common.less";
@import "prefixer.less";
@import "vex-theme.less";

/* 

http://www.network-science.de/ascii/ 
font: basic

 d888b  db       .d88b.  d8888b.  .d8b.  db      
88' Y8b 88      .8P  Y8. 88  `8D d8' `8b 88      
88      88      88    88 88oooY' 88ooo88 88      
88  ooo 88      88    88 88~~~b. 88~~~88 88      
88. ~8~ 88booo. `8b  d8' 88   8D 88   88 88booo. 
 Y888P  Y88888P  `Y88P'  Y8888P' YP   YP Y88888P 

Global Styling

*/
html {
  height: 100%;
}

body {
  background-color: @bg-color-default;
  color: @text-color-default;
  font-family: 'Helvetica', 'Arial', sans-serif;
  font-weight: normal;
  height: 100%;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}

ul, li {
  margin: 0;
  padding: 0;
  padding-right: 10px;
  list-style: none;
}

/*

http://www.network-science.de/ascii/ 
font: basic

d8888b. db    db d888888b d888888b  .d88b.  d8b   db .d8888. 
88  `8D 88    88 `~~88~~' `~~88~~' .8P  Y8. 888o  88 88'  YP 
88oooY' 88    88    88       88    88    88 88V8o 88 `8bo.   
88~~~b. 88    88    88       88    88    88 88 V8o88   `Y8b. 
88   8D 88b  d88    88       88    `8b  d8' 88  V888 db   8D 
Y8888P' ~Y8888P'    YP       YP     `Y88P'  VP   V8P `8888Y' 

Buttons
Bootstrap overrides and custom button styles.

*/
.linkToPanel {
  margin-right: 20px;
  font-size: 20px;
  height: 70px;
}

.btn {
  border-radius: 0;
  border: none;
}

.btn-primary { 
  background: @color-primary;
  color: @text-color-primary; 
}
.btn-primary:hover,
.btn-primary:active,
.btn-primary:focus,
.btn-primary:visited  { 
  background: darken(@color-primary, 10%);
  color: darken(@text-color-primary, 10%);
}

.btn-danger { 
  background: @color-danger; 
  color: @text-color-danger;
}
.btn-danger:hover,
.btn-danger:active,
.btn-danger:focus,
.btn-danger:visited { 
  background: darken(@color-danger, 10%); 
  color: darken(@text-color-danger, 10%);
}

.btn-warning {
  background: @color-warning;
  color: @text-color-warning;
}
.btn-warning:hover,
.btn-warning:active,
.btn-warning:focus,
.btn-warning:visited {
  background: darken(@color-warning, 10%);
  color: darken(@text-color-warning, 10%);
}

.btn-default,
.btn-default:active,
.btn-default:focus,
.btn-default:visited, {
  background: lighten(@color-neutral, 10%);
  color: @text-color-neutral;
}

.btn-default:hover,
.btn-default:active:hover,
.btn-default:focus:hover,
.btn-default:visited:hover, {
  background: lighten(@color-neutral, 0%);
  color: darken(@text-color-neutral, 10%);
}

.btn-reservation {
  background: @color-reservation;
  color: @text-color-reservation;
  &:hover,
  &:active,
  &:focus,
  &:visited {
    background: darken(@color-reservation, 10%);
    color: darken(@text-color-reservation, 10%);
  }
}


/* Add icon button missing in Bootstrap */

.btn-ico,
.btn-ico:hover,
.btn-ico:active,
.btn-ico:focus,
.btn-ico:visited {
  background: transparent;
  /* Remove the default Bootstrap glow on button click */
  outline:none !important;
  box-shadow:none !important;
}

.btn-ico {
  padding: 0;
  font-size: 20px;
  line-height: 1;
}

.btn-ico { color: @color-neutral }
.btn-ico:hover { color: darken(@color-neutral, 10%) }

.btn-ico.btn-primary { color: @color-primary }
.btn-ico.btn-primary:hover { color: darken(@color-primary, 10%) }

.btn-ico.btn-danger { color: @color-danger }
.btn-ico.btn-danger:hover { color: darken(@color-danger, 10%) }

.btn-logout {
  width: @lg-height;
  height: @lg-height;
  font-size: 22px;
  line-height: 1;
}

/* 

http://www.network-science.de/ascii/ 
font: basic

db       .d88b.   .d8b.  d8888b. d888888b d8b   db  d888b  
88      .8P  Y8. d8' `8b 88  `8D   `88'   888o  88 88' Y8b 
88      88    88 88ooo88 88   88    88    88V8o 88 88      
88      88    88 88~~~88 88   88    88    88 V8o88 88  ooo 
88booo. `8b  d8' 88   88 88  .8D   .88.   88  V888 88. ~8~ 
Y88888P  `Y88P'  YP   YP Y8888D' Y888888P VP   V8P  Y888P  

Loading Widgets

*/
#loader-global {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 9999;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.25);
}

.spinner {
  font-size: 50px;
}

#loader-global .spinner {
  display: table-cell;
  width: 50px;
  height: 50px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -25px;
  margin-top: -25px;
}

.loader-local .spinner {
  padding: 50px 0;
  text-align: center;
  width: 100%;
}

/* 

http://www.network-science.de/ascii/ 
font: basic

db   db d88888b  .d8b.  d8888b. d88888b d8888b.   d8b   db  .d8b.  db    db 
88   88 88'     d8' `8b 88  `8D 88'     88  `8D   888o  88 d8' `8b 88    88 
88ooo88 88ooooo 88ooo88 88   88 88ooooo 88oobY'   88V8o 88 88ooo88 Y8    8P 
88~~~88 88~~~~~ 88~~~88 88   88 88~~~~~ 88`8b     88 V8o88 88~~~88 `8b  d8' 
88   88 88.     88   88 88  .8D 88.     88 `88.   88  V888 88   88  `8bd8'  
YP   YP Y88888P YP   YP Y8888D' Y88888P 88   YD   VP   V8P YP   YP    YP    

Header and Navigation 

*/
nav.navbar {
  margin-bottom: 3px;
  border-radius: 0;
  border: none;
  border-bottom: 2px solid darken(@bg-color-default, 10%);
}

nav.navbar.navbar-default {
  background-color: transparent;
}

nav.navbar ul, 
nav.navbar li {
  padding-right: 0;
}

nav.navbar .navbar-nav > li > a {
  color: @text-color-default;
}

nav.navbar .navbar-nav > li > a:hover {
  color: lighten(@text-color-default, 20%);
}

nav.navbar .navbar-header {
  height: 70px;
}

nav.navbar .navbar-brand {
  padding: 0;
  margin: 0;
}

nav.navbar .brand-image {
  width: auto;
  height: 50px;
  padding-left: 15px;
  margin-top: 10px;
  vertical-align: middle;
}

nav.navbar .navbar-toggle {
  margin-top: 18px;
  border-radius: 0;
}

nav.navbar .navbar-toggle:focus {
  background-color: transparent;
}

nav.navbar .navbar-toggle:focus:hover {
  background-color: @navbar-default-toggle-hover-bg;
}

nav.navbar a.sign-out {
  border-top: 1px solid darken(@bg-color-default, 10%);
}

/*

http://www.network-science.de/ascii/ 
font: basic

db       .d88b.   d888b  d888888b d8b   db 
88      .8P  Y8. 88' Y8b   `88'   888o  88 
88      88    88 88         88    88V8o 88 
88      88    88 88  ooo    88    88 V8o88 
88booo. `8b  d8' 88. ~8~   .88.   88  V888 
Y88888P  `Y88P'   Y888P  Y888888P VP   V8P 

Login View

*/
.nfc-login-icon {
  font-size: 100px;
  line-height: 1;
  text-align: center;
}

.nfc-login-info-text {
  text-align: center;
  font-size: 20px;
  line-height: 1;
  margin-top: 42px;
}

.login {
  width: 100%;
}

.login-heading {
  font-size: 18px;
}

.login-form .checkbox {
  font-weight: normal;
}
.login-form .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.login-form .form-control:focus {
  z-index: 2;
}

.login-form .ng-dirty.ng-valid {
  border: 1px solid #66dd55;
}

.login-form {
  max-width: 500px;
  padding: 15px;
  margin: 0 auto;
}
.login-form .login-form-heading,
.login-form .checkbox {
  margin-bottom: 10px;
}

.login-form input[type="text"] {
  margin-bottom: 5px;
  border-radius: 0;
}
.login-form input[type="password"] {
  margin-bottom: 10px;
  border-radius: 0;
}

.btn-login {
  height: 45px;
  font-size: 16px;
  font-weight: bold;
}

.signup-link {
  padding: 10px;
  margin-top: 20px;
  text-align: center;
}

.signup-link i {
  margin-right: 5px;
}

/* 

http://www.network-science.de/ascii/ 
font: basic

d8888b.  .d8b.  .d8888. db   db d8888b.  .d88b.   .d8b.  d8888b. d8888b. 
88  `8D d8' `8b 88'  YP 88   88 88  `8D .8P  Y8. d8' `8b 88  `8D 88  `8D 
88   88 88ooo88 `8bo.   88ooo88 88oooY' 88    88 88ooo88 88oobY' 88   88 
88   88 88~~~88   `Y8b. 88~~~88 88~~~b. 88    88 88~~~88 88`8b   88   88 
88  .8D 88   88 db   8D 88   88 88   8D `8b  d8' 88   88 88 `88. 88  .8D 
Y8888D' YP   YP `8888Y' YP   YP Y8888P'  `Y88P'  YP   YP 88   YD Y8888D' 

Dashboard/Main View

*/
footer {
  margin-top: 20px;
  margin-bottom: 0;
  border-top: 2px solid darken(@bg-color-default, 10%);
}

footer div {
  padding-top: 20px;
  padding-bottom: 20px;
}

.btn-logout-bottom {
  margin-top: 20px;
}

.logged-user-name {
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 2px solid darken(@bg-color-default, 10%);
}

#adm-dashboard {
  background: white;
}

.adm-edit-entry {
  cursor: pointer;
}


/*

http://www.network-science.de/ascii/ 
font: basic

.88b  d88.  .d8b.   .o88b. db   db d888888b d8b   db d88888b 
88'YbdP`88 d8' `8b d8P  Y8 88   88   `88'   888o  88 88'     
88  88  88 88ooo88 8P      88ooo88    88    88V8o 88 88ooooo 
88  88  88 88~~~88 8b      88~~~88    88    88 V8o88 88~~~~~ 
88  88  88 88   88 Y8b  d8 88   88   .88.   88  V888 88.     
YP  YP  YP YP   YP  `Y88P' YP   YP Y888888P VP   V8P Y88888P

// Machine list item styling

*/

.machine-container {
  background-image: linear-gradient(180deg, darken(#FFFFFF, 5%) 0%, #FFFFFF 100%);
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 2px solid darken(#ffffff, 10%);
}

.machine {
  /* empty for now */ 
}

.indicator {
  width: 100%;
  text-align: center;
  line-height: 70px;
}

.machine-header {
  border-bottom: 1px solid darken(#ffffff, 10%);
  padding-bottom: 10px;
  padding-top: 10px;
  font-size: 18px;
  line-height: 1;
  font-weight: bold;
}

.machine-body {
  border-top: 1px solid #ffffff;
  padding-top: 10px;
}

.machine-image {
  height: @lg-height;
  width: auto;
  vertical-align: top;
  margin-left: 10px;
}

.machine .machine-action-info {
  display: inline-block;
  min-height: 70px;
  vertical-align: top;
}

.machine .machine-info-content {
  padding-left: 10px;
  padding-top: 5px;
}

.machine-reserv-preview {
  height: 20px;
  margin: 10px;
}

.machine-reserv-preview .today {
  height: 100%;
  width: 100%;
}

.machine-reserv-preview .slots {
  background: #a3cc52;
  height: 50%;
  position: relative;
  width: 100%;
}

.machine-reserv-preview .today .label {
  height: 50%;
  width: 100%;
}

.machine-reserv-preview .tomorrow {
  display: none;
  height: 100%;
  width: 50%;
}

.machine-reserv-preview .tomorrow .label {
  height: 50%;
  width: 100%;
}

.machine-reserv-preview .slot {
  background: @color-primary;
  display: inline-block;
  height: 10px;
  position: absolute;
}

.machine-reserv-preview .slot.reserved {
  background: lighten(@color-danger, 10%);
}

.machine-reserv-preview .slot.reserved:hover {
  background: @color-danger;  
}

.machine-reserv-preview .slot.reserved.by-user {
  background: @color-reservation;
}

.machine-reserv-preview .slot.now {
  background: yellow;
}

/* 
 * Available machines 
 */
.machine.available .machine-action-info {
  border-left: (@lg-height / 2) solid lighten(@color-primary, 10%);
}

/* 
 * Reserved machines 
 */
.machine.reserved .machine-action-info {
  border-left: (@lg-height / 2) solid lighten(@color-reservation, 10%);
}

.machine.reserved.reservator .machine-action-info {
  border-left: (@lg-height / 2) solid lighten(@color-reservation, 10%);
}

/* 
 * Used / busy machines 
 */
.machine.used .machine-action-info {
  border-left: (@lg-height / 2) solid lighten(@color-danger, 10%);
}

.machine.used .machine-time-label {
  font-size: 10px;
  line-height: 1.3;
  font-weight: normal;
  color: lighten(@text-color-default, 50%);
}

.machine.used .machine-time-value {
  font-size: 12px;
  font-weight: bold;
  line-height: 1.3;
}

/* Occupied machines */

.machine.occupied .machine-action-info {
  border-left: (@lg-height / 2) solid lighten(@color-warning, 10%);
}

.machine.occupied .occupied-by-label,
.machine.reserved .reserved-by-label {
  font-size: 10px;
  font-weight: normal;
  color: lighten(@text-color-default, 50%);
  line-height: 1.3;
}

.machine.occupied .occupied-by-value,
.machine.reserved .reserved-by-value {
  font-size: 12px;
  font-weight: bold;
  line-height: 1.3;
}

.machine.occupied .machine-time-value {
  font-size: 10px;
  font-weight: normal;
  line-height: 1.3;
}

.indicator.occupied {
  .indicator();
  border: 1px solid #FAE451;
  color: #FAE451;
}

.indicator.reserved {
  .indicator();
  border: 1px solid @color-reservation;
  color: @color-reservation;
}

/* Unavailable machines */

.machine.unavailable .machine-action-info {
  border-left: (@lg-height / 2) solid lighten(@color-neutral, 10%);
}

.machine.unavailable .machine-info-content {
  font-size: 10px; 
  line-height: 1.25;
  float: left;
}

.machine.unavailable .machine-info-content a,
.machine.unavailable .machine-info-content a:focus,
.machine.unavailable .machine-info-content a:active,
.machine.unavailable .machine-info-content a:visited {
  color: @color-primary;
}

.machine.unavailable .machine-info-content a:hover,
.machine.unavailable .machine-info-content a:focus:hover,
.machine.unavailable .machine-info-content a:active:hover,
.machine.unavailable .machine-info-content a:visited:hover {
  color: darken(@color-primary, 10%);
}

.machine.unavailable .indicator.unavailable {
  .indicator();
  border: 1px solid #A6A6A6;
  color: #A6A6A6;
}


/* Machine extra actions list.
   Like the maintenance switch and service 
   repair button. */

.machine-extra-actions {
  margin-top: 10px;
}

.machine-extra-actions li {
  margin-bottom: 5px;
  line-height: @lg-height / 2;
}
.machine-extra-actions li:last-child {
  margin-bottom: 0;
}

.machine-extra-actions .action-item a {
  display: inline-block;
  width: @lg-height / 2;
  height: @lg-height / 2;
  text-align: center;
  font-size: 20px;
  margin-right: 10px;
}

.machine-extra-actions .action-item a.primary,
.machine-extra-actions .action-item a.primary:focus,
.machine-extra-actions .action-item a.primary:active,
.machine-extra-actions .action-item a.primary:visited {
  background: lighten(@color-primary, 10%);
  color: lighten(@text-color-primary, 10%);
}

.machine-extra-actions .action-item a.primary:hover,
.machine-extra-actions .action-item a.primary:focus:hover,
.machine-extra-actions .action-item a.primary:active:hover,
.machine-extra-actions .action-item a.primary:visited:hover {
  background: @color-primary;
  color: @text-color-primary;
}

.machine-extra-actions .action-item a.danger,
.machine-extra-actions .action-item a.danger:focus,
.machine-extra-actions .action-item a.danger:active,
.machine-extra-actions .action-item a.danger:visited {
  background: lighten(@color-danger, 10%);
  color: lighten(@text-color-danger, 10%);
}

.machine-extra-actions .action-item a.danger:hover,
.machine-extra-actions .action-item a.danger:focus:hover,
.machine-extra-actions .action-item a.danger:active:hover,
.machine-extra-actions .action-item a.danger:visited:hover {
  background: @color-danger;
  color: @text-color-danger;
}

.machine-extra-actions .action-item .fa {
  line-height: @lg-height / 2;
}

/* */

table.machine-activation-table {
  width: 100%;
}

td.force-button-table-cell {
  width: @lg-height / 2;
}

td .force-switch {
  width: @lg-height / 2;
  height: @lg-height / 2;
  line-height: @lg-height / 2;
  text-align: center;
  display: block; 
}

td .force-switch-on {
  background: lighten(@color-primary, 10%);
  color: @text-color-primary; 
}
td .force-switch-on:hover {
  background: @color-primary;
  color: darken(@text-color-primary, 10%); 
}

td .force-switch-off {
  background: lighten(@color-danger, 10%);
  color: @text-color-danger; 
}
td .force-switch-off:hover {
  background: @color-danger;
  color: darken(@text-color-danger, 10%); 
}

.delete-prompt-token {
  color: @color-danger;
}

.btn-lg,
.indicator {
  height: @lg-height;
  font-size: 22px;
  font-weight: bold;
}

.btn-lg2,
.indicator {
  height: @lg-height;
  font-size: 18px;
  font-weight: bold;
}

.absolute-bottom {
  width: 100%;
}

.no-select {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.scroll-nav {
  .no-select();
  font-size: 40px;
  line-height: 40px;
  height: 60px;
  padding-top: 10px;
  text-align: center;
  position: fixed;
  width: 100%;
  background: #ffffff;
}

.scroll-nav-top {
  top: 0;
  left: 0;
  border-bottom: 2px solid darken(@bg-color-default, 10%);
}

.scroll-nav-bottom {
  bottom: 0;
  left: 0;
  border-top: 2px solid darken(@bg-color-default, 10%);
}

/*

http://www.network-science.de/ascii/ 
font: basic


d8888b. d8888b.  .d88b.  d88888b d888888b db      d88888b 
88  `8D 88  `8D .8P  Y8. 88'       `88'   88      88'     
88oodD' 88oobY' 88    88 88ooo      88    88      88ooooo 
88~~~   88`8b   88    88 88~~~      88    88      88~~~~~ 
88      88 `88. `8b  d8' 88        .88.   88booo. 88.     
88      88   YD  `Y88P'  YP      Y888888P Y88888P Y88888P 

// User Profile styling

*/

#profile-company {
  height: 34px;
  padding: 7px 0 0 13px;
}

/*

http://www.network-science.de/ascii/ 
font: basic

.d8888. d8888b. d88888b d8b   db d8888b. d888888b d8b   db  d888b  .d8888. 
88'  YP 88  `8D 88'     888o  88 88  `8D   `88'   888o  88 88' Y8b 88'  YP 
`8bo.   88oodD' 88ooooo 88V8o 88 88   88    88    88V8o 88 88      `8bo.   
  `Y8b. 88~~~   88~~~~~ 88 V8o88 88   88    88    88 V8o88 88  ooo   `Y8b. 
db   8D 88      88.     88  V888 88  .8D   .88.   88  V888 88. ~8~ db   8D 
`8888Y' 88      Y88888P VP   V8P Y8888D' Y888888P VP   V8P  Y888P  `8888Y'

Spendings Page

*/

.bill-table th {
  text-align: center;
}

.bill-table td:nth-child(3) {
  text-align: right;
}

.bill-table td:nth-child(4) {
  text-align: right;
}

.bill-table td:nth-child(5) {
  text-align: right;
}

.bill-table td:nth-child(6) {
  text-align: right;
}

/*

http://www.network-science.de/ascii/ 
font: basic

d8888b. d88888b .d8888. d88888b d8888b. db    db  .d8b.  d888888b d888888b
88  `8D 88'     88'  YP 88'     88  `8D 88    88 d8' `8b `~~88~~'   `88'  
88oobY' 88ooooo `8bo.   88ooooo 88oobY' Y8    8P 88ooo88    88       88   
88`8b   88~~~~~   `Y8b. 88~~~~~ 88`8b   `8b  d8' 88~~~88    88       88   
88 `88. 88.     db   8D 88.     88 `88.  `8bd8'  88   88    88      .88.  
88   YD Y88888P `8888Y' Y88888P 88   YD    YP    YP   YP    YP    Y888888P ons

Reservations related components

*/

#reservations-new button {
  margin: 0 5px;
}

/* 
 * Select Machine pricing information
 */
.reservations-machine-price {
  margin-top: 10px;
}

/*
 * Reusable mixins for Time Picker and Date Picker CSS classes
 */
.date-time-hover-selected {
  background: darken(@color-neutral, 10%);
  color: white;
}

.date-time-selected {
  background: darken(@color-neutral, 20%);
}

/*
 * Time Picker CSS classes
 */

.time-picker {
  .time {
    cursor: pointer;
    font-size: 22px;
    line-height: 22px;
    text-align: center;

    &.selected { 
      background: darken(@color-neutral, 30%);
      color: white;
    }
    &:hover { 
      background: darken(@color-neutral, 30%);
      color: white;
    }
    &.selected:hover {
      color: white; 
    }
    &.unavailable {
      color: lighten(@color-neutral, 20%);
      cursor: not-allowed;
    }
    &.unavailable:hover {
      background: white;
      color: lighten(@color-neutral, 20%);
    }
    &.unavailable label { cursor: not-allowed; }
    

    label {
      cursor: pointer;
      padding: 10px 0;
      width: 100%;
      margin: 0;
    }

    input { display: none; }
  }

  .total-price {
    font-size: 16px;
    line-height: 16px;
    font-weight: normal;
    padding-top: 10px;
    margin-top: 10px;
    border-top: 1px solid @color-neutral;
  }
}

/*
 * Date Picker CSS classes
 */

.date-picker {
  .month-name {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 10px;
    padding-bottom: 5px;
    border-bottom: 1px solid lighten(@color-neutral, 25%);
  }

  .week-name {
    border-bottom: 1px solid darken(@color-neutral, 10%);
    width: 14.27%;
    float: left;
    text-align: center;
    padding-bottom: 5px;
    font-size: 0.9em;
  }

  .day {
    border-left: 1px solid darken(@color-neutral, 10%);
    cursor: pointer;
    float: left;
    font-size: 0.9em;
    width: 14.27%;
    height: 40px;
    padding: 1px 5px 0 6px;
    text-align: right;
    border-bottom: 1px solid darken(@color-neutral, 10%);

    &.selectable {
      &:hover { 
        background: @color-neutral;
        color: white;
      }
      &.selected { .date-time-hover-selected }
      &.selected:hover { .date-time-selected }
    }

    &.empty {
      background: lighten(@color-neutral, 30%);
      cursor: default;
    }

    &.unavailable {
      background: lighten(@color-neutral, 25%);
      color: @color-neutral;
      cursor: not-allowed;    
    }

    &.today {
      background: @color-danger;
      color: white;
    }

    &:last-child {
      border-right: 1px solid @color-neutral;
    }
  }

  .finish {
    clear: both;
  }

  .week {
    clear: both;
  }
}

/* 

http://www.network-science.de/ascii/ 
font: basic

.88b  d88. d88888b d8888b. d888888b  .d8b.  
88'YbdP`88 88'     88  `8D   `88'   d8' `8b 
88  88  88 88ooooo 88   88    88    88ooo88 
88  88  88 88~~~~~ 88   88    88    88~~~88 
88  88  88 88.     88  .8D   .88.   88   88 
YP  YP  YP Y88888P Y8888D' Y888888P YP   YP 

Media Queries
This is for the big screens. Remember: "Mobile First" 

*/
@media (min-width: @mobile-screen-breakpoint) {
  
  /* 
   * Header/Navbar
   */

  nav.navbar .navbar-header {
    height: 90px;
  }

  nav.navbar .brand-image {
    width: auto;
    height: 70px;
    padding-left: 15px;
    margin-top: 10px;
    vertical-align: middle;
  }

  nav.navbar .navbar-nav {
    margin-top: 20px;
  }

  nav.navbar a.sign-out {
    border-top: none;
    border-left: 1px solid darken(@bg-color-default, 10%);
  }

  /*
   * Login Form  
   */

  .login-heading {
    font-size: 30px;
  }

  .login-form input[type="text"] {
    height: @lg-height;
    font-size: 18px;
  }
  .login-form input[type="password"] {
    height: @lg-height;
    font-size: 18px;
  }

  .btn-login {
    height: @lg-height;
    font-size: 22px;
    font-weight: bold;
  }

  .absolute-bottom {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
  }

  .login {
    position: absolute;
    top: 52%;
    transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    width: 100%;
  }

  /*
   * Machines Page
   */

  .machine-reserv-preview .today {
    float: left;
    height: 100%;
    width: 50%;
  }

  .machine-reserv-preview .tomorrow {
    display: inline;
    float: left;
    height: 100%;
    width: 50%;
  }

  /*
   * Reservations Date Picker
   */

  .date-picker-day {
    height: 60px;
  }

} /* @media (min-width: @mobile-screen-breakpoint) */
