<div id="admin-purchase" class="container-fluid">

  <h1>Purchase</h1>
  <hr>

  <div class="form-group">
    <label for="tutor">Tutor</label>
    <select id="tutor"
      class="form-control" 
      ng-model="purchase.TutorId">
      <option value="" selected disabled>Select tutor</option>
      <option ng-repeat="tutor in tutors" value="{{tutor.Id}}">
        {{tutor.Name}}
      </option>
    </select>
  </div>

  <div class="form-group">
    <label for="user">User</label>
    <select id="user"
      class="form-control" 
      ng-model="purchase.UserId">
      <option value="" selected disabled>Select user</option>
      <option ng-repeat="user in users" value="{{user.Id}}">
        {{user.Name}}
      </option>
    </select>
  </div>

  <div class="form-group">
    <label for="start-time">Start time</label>
    <input
      type="text"
      class="form-control"
      id="start-time"
      placeholder="Start time"
      ng-model="purchase.StartTime"> 
  </div>

  <div class="form-group">
    <label for="end-time">End time</label>
    <input
      type="text"
      class="form-control"
      id="end-time"
      placeholder="End time"
      ng-model="purchase.EndTime"> 
  </div>

  <div class="form-group">
    <label for="total-time">Total time</label>
    <input
      type="text"
      class="form-control"
      id="total-time"
      ng-model="purchase.TotalTime"
      disabled="disabled"> 
  </div>

  <div class="form-group">
    <label for="vat-percents">VAT %</label>
    <input
      type="text"
      class="form-control"
      id="vat-percents"
      placeholder="VAT %"
      ng-model="purchase.VAT"> 
  </div>

  <div class="form-group">
    <label for="total-price-no-vat">Total price (no VAT)</label>
    <input
      type="text"
      class="form-control"
      id="total-price-no-vat"
      ng-model="purchase.TotalPriceNoVAT"
      disabled="disabled"> 
  </div>

  <div class="form-group">
    <label for="vat-value">VAT (19%)</label>
    <input
      type="text"
      class="form-control"
      id="vat-value"
      ng-model="purchase.VATValue"
      disabled="disabled"> 
  </div>

  <div class="form-group">
    <label for="total-price-vat">Total price (including VAT)</label>
    <input
      type="text"
      class="form-control"
      id="total-price-vat"
      ng-model="purchase.TotalPriceVAT"
      disabled="disabled"> 
  </div>

  <div class="form-group">
    <label for="comments">Comments</label>
    <textarea 
      class="form-control" 
      rows="3"
      id="comments"
      ng-model="tutor.Comments">
    </textarea>
  </div>

  <hr>

  <div>
    <button 
      class="btn btn-lg btn-danger"
      ng-click="cancel()">
      Cancel
    </button>
  
    <button 
      class="btn btn-lg btn-primary"
      ng-click="save()">
      Save
    </button>
  </div>

</div> <!-- /container -->
