<div id="admin-purchase" class="container-fluid">

  <h1>Purchase</h1>
  <hr>

  <div class="form-group">
    <label for="tutor">Tutor</label>
    <input
      type="text"
      class="form-control"
      id="tutor"
      placeholder="Start typing to choose tutor"
      ng-model="tutor.Name">
  </div>

  <div class="form-group">
    <label for="user">User</label>
    <input
      type="text"
      class="form-control"
      id="tutor-name"
      placeholder="Start typing to choose user"
      ng-model="user.Name">
  </div>

  <div class="form-group">
    <label for="start-date">Start time</label>
    <div class="row">
      <div class="col-xs-6">
        <div class="input-group">
          <input
            type="text"
            class="form-control"
            id="start-date"
            placeholder="Date"
            ng-model="purchase.StartTimeDate">
          <span class="input-group-addon">
            <i class="fa fa-calendar"></i>
          </span>
        </div>
      </div>
      <div class="col-xs-6">
        <div class="input-group">
          <input
            type="text"
            class="form-control"
            id="start-time"
            placeholder="Time"
            ng-model="purchase.StartTimeTime">
          <span class="input-group-addon">
            <i class="fa fa-clock-o"></i>
          </span>
        </div>
      </div>
    </div>
  </div>

  <div class="form-group">
    <label for="end-date">End time</label>
    <div class="row">
      <div class="col-xs-6">
        <div class="input-group">
          <input
            type="text"
            class="form-control"
            id="end-date"
            placeholder="Date"
            ng-model="purchase.EndTimeDate">
          <span class="input-group-addon">
            <i class="fa fa-calendar"></i>
          </span>
        </div>
      </div>
      <div class="col-xs-6">
        <div class="input-group">
          <input
            type="text"
            class="form-control"
            id="end-time"
            placeholder="Time"
            ng-model="purchase.EndTimeTime">
          <span class="input-group-addon">
            <i class="fa fa-clock-o"></i>
          </span>
        </div>
      </div>
    </div>
  </div>

  <div class="form-group">
    <label for="total-time">Reserved time</label>
    <input
      type="text"
      class="form-control"
      id="total-time"
      ng-model="purchase.TimeReserved"
      disabled="disabled"> 
  </div>

  <div class="form-group">
    <label for="total-time">Timed time</label>
    <input
      type="text"
      class="form-control"
      id="total-time"
      ng-model="purchase.TimeTimed"
      disabled="disabled"> 
  </div>

  <div class="form-group">
    <label for="total-price-no-vat">Total price</label>
    <div class="input-group">
      <input
        type="text"
        class="form-control"
        id="total-price-no-vat"
        ng-model="purchase.PriceTotal"
        disabled="disabled"> 
      <span class="input-group-addon">€</span>
    </div>
  </div>

  <div class="form-group">
    <label for="comments">Comments</label>
    <textarea 
      class="form-control" 
      rows="3"
      id="comments"
      ng-model="purchase.Comments">
    </textarea>
  </div>

  <hr>

  <div>
    <button 
      class="btn btn-lg btn-danger"
      ng-click="cancel()">
      Cancel
    </button>
  
    <button 
      class="btn btn-lg btn-primary"
      ng-click="save()">
      Save
    </button>
  </div>

</div> <!-- /container -->
