<div id="admin-memberships" class="container-fluid">

  <h1>Tutoring</h1>
  <hr>

  <h2>Tutors</h2>
  <hr>

  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th>Name</th>
        <th>Price</th>
        <th>Price Unit</th>
        <th>
          <div class="pull-right">Options</div>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="tutor in tutors">
        <td>{{tutor.Name}}</td>
        <td>{{tutor.Price | currency:''}}{{settings.Currency.ValueString}}</td>
        <td>{{tutor.PriceUnit}}</td>
        <td>
          <div class="pull-right">
            <button 
              type="button" 
              class="btn btn-danger btn-ico"
              ng-click="deleteTutor(tutor.Id)">
              <span class="fa fa-close"></span>
            </button>
          </div>
        </td>
      </tr>
    </tbody>
  </table>

  <hr>
  <div>
    <button 
      class="btn btn-lg btn-primary pull-right"
      ng-click="addTutor()">
      <span class="fa fa-plus"></span>&nbsp;Add Tutor
    </button>
  </div>

  <div class="clearfix"></div>

  <h2>Tutoring Purchases</h2>
  <hr>

  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th>Tutor Name</th>
        <th>User Name</th>
        <th>Start Time</th>
        <th>End Time</th>
        <th>Total Time</th>
        <th>Total Price</th>
        <th>VAT (19%)</th>
        <th>
          <div class="pull-right">Options</div>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="purchase in purchases">
        <td>{{purchase.TutorName}}</td>
        <td>{{purchase.UserName}}</td>
        <td>{{purchase.StartTime}}</td>
        <td>{{purchase.EndTime}}</td>
        <td>{{purchase.TotalTime}} hours</td>
        <td>{{purchase.TotalPrice | currency:''}}{{settings.Currency.ValueString}}</td>
        <td>{{purchase.VAT | currency:''}}{{settings.Currency.ValueString}}</td>
        <td>
          <div class="pull-right">
            <button 
              type="button" 
              class="btn btn-danger btn-ico"
              ng-click="deletePurchase(purchase.Id)">
              <span class="fa fa-close"></span>
            </button>
          </div>
        </td>
      </tr>
    </tbody>
  </table>

  <hr>
  <button 
    class="btn btn-lg btn-primary pull-right"
    ng-click="addPurchase()">
    <span class="fa fa-plus"></span>&nbsp;Add Purchase
  </button>

</div> <!-- /container -->
