<div id="admin-tutor" class="container-fluid">

  <h1>Tutor</h1>
  <hr>

  <div class="form-group">
    <label for="tutor-user">Tutor user</label>
    <select 
      class="selectpicker"
      data-live-search="true"
      data-width="100%"
      ng-model="tutor.Product.UserId">
      <option
        ng-repeat="user in users"
        value="{{user.Id}}">
        {{user.FirstName}} {{user.LastName}}
      </option>
    </select>
  </div>

  <div class="form-group">
    <label for="price">Price per unit</label>
    <div class="input-group">
      <input
        type="text"
        class="form-control"
        id="price"
        placeholder="Price"
        ng-model="tutor.Product.Price">
      <span class="input-group-addon">€</span>
    </div>
  </div>

  <priceunit product="tutor.Product"></priceunit>

  <div class="form-group">
    <label for="skill-picker">Machine Skills</label>
    <div class="well well-sm tag-group">
      <div 
        class="tag-item"
        ng-repeat="skill in tutor.Product.MachineSkills">
        <span class="tag-item-label">{{skill.Name}}</span>
        <a 
          class="tag-item-btn-remove"
          ng-click="removeMachineSkill(skill.Id)">
          <i class="fa fa-close"></i>
        </a>
      </div>
      <div 
        class="tag-item"
        ng-hide="tutor.Product.MachineSkills.length">
        <span class="tag-item-label">This tutor has no skills, add some!</span>
      </div>
    </div>

    <select 
      class="selectpicker"
      id="skill-picker"
      data-live-search="true"
      data-width="100%"
      ng-model="SelectedMachineId"
      ng-change="addMachineSkill()">
      <option
        ng-repeat="machine in machines"
        value="{{machine.Id}}">
        {{machine.Name}}
      </option>
    </select>
  </div>

  <div class="form-group">
    <label for="comments">Comments</label>
    <textarea 
      class="form-control" 
      rows="3"
      id="comments"
      ng-model="tutor.Product.Comments">
    </textarea>
  </div>

  <hr>

  <div>
    <button 
      class="btn btn-lg btn-danger"
      ng-click="cancel()">
      Cancel
    </button>
  
    <button 
      class="btn btn-lg btn-primary"
      ng-click="save()">
      Save
    </button>
  </div>

</div> <!-- /container -->
