<div id="admin-machine" class="container-fluid">

  <h1>Edit Machine</h1>

  <hr>

  <div class="row">

    <div class="col-sm-3">
      <div class="form-group">
        <label for="machine-name">Machine Name</label>
        <input type="text" id="machine-name" class="form-control"
               placeholder="Enter machine name" ng-model="machine.Name">
      </div>
    </div>

    <div class="col-sm-3">
      <div class="form-group">
        <label for="machine-shortname">Shortname</label>
        <input type="text" id="machine-shortname" class="form-control"
               placeholder="Enter shortname" ng-model="machine.Shortname">
      </div>
    </div>
    
    <div class="col-sm-3">
      <div class="form-group">
        <label for="machine-shortname">Price</label>
        <div class="input-group">
          <input type="text" id="machine-price" class="form-control"
                 placeholder="Enter price" ng-model="machine.Price">
          <div class="input-group-addon">
            <i class="fa fa-euro"></i>
          </div>
        </div>
      </div>
    </div>
    
    <div class="col-sm-3">
      <div class="form-group">
        <label for="machine-price-unit">Price Unit</label>
        <select class="form-control" id="machine-price-unit" 
                ng-model="machine.PriceUnit">
          <option value="" selected disabled>Select unit</option>
          <!-- TODO: These have to be loaded via API -->
          <option value="minute">minute</option>
          <option value="hour">hour</option>
          <option value="day">day</option>
        </select>
      </div>
    </div>
  
  </div><!-- /.row -->

  <div class="row">
    
    <div class="col-sm-6">
      <div class="form-group">
        <label for="machine-description">Machine Description</label>
        <textarea id="machine-description" class="form-control" rows="5"
                  placeholder="Enter machine description"
                  ng-model="machine.Description"></textarea>
      </div>
    </div>

    <div class="col-sm-6">
      <label>Image</label>
      <div class="row"> 
        <div class="col-sm-6">
          <div class="form-group">
            <img id="machine-image"
              ng-src="{{machineImageNewFile || machineImageFile || 'assets/img/img-machine-placeholder.svg'}}"
              alt="Machine image">
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group">
            <input type="file" onchange="angular.element(this).scope().machineImageLoad(this)">
            <button class="btn btn-primary btn-block" ng-disabled="!machineImageNewFile" ng-click="machineImageReplace()">
              <i class="fa fa-file-image-o"></i>&nbsp;Replace
            </button>
          </div>
          <p>Supported types: svg</p>
          <p>Name: {{machineImageNewFileName || machine.ImageName}}<br>Size: {{machineImageNewFileSize || machine.ImageSize}}</p>
        </div>
      </div>

    </div>

  </div><!-- /.row -->

  <div class="row">
    <div class="col-sm-3">
      <div class="form-group">
        <label for="grace-period">Grace Period (seconds)</label>
        <input type="number"
               id="grace-period"
               class="form-control"
               ng-model="machine.GracePeriod">
      </div>
    </div><!-- -->

    <div class="col-sm-3">
      <div class="form-group">
        <label>
          <input type="checkbox" ng-model="machine.Visible"> Visible
        </label>
      </div>
    </div><!-- -->
  </div><!-- /.row -->

  <div class="row">
    <div class="col-sm-3">
      <div class="form-group">
        <label for="machine-type">Machine Type</label>
        <select class="form-control" id="machine-type" 
                ng-model="machine.TypeId">
          <option value="" selected disabled>Select type</option>
          <option ng-repeat="machineType in machineTypes"
                  value="{{machineType.Id}}">
            {{machineType.Name}}
          </option>
        </select>
      </div>
    </div>

    <div class="col-sm-3">
      <div class="form-group">
        <label for="machine-brand">Machine Brand</label>
        <input type="text" id="machine-brand" class="form-control"
               placeholder="Enter machine brand" ng-model="machine.Brand">
      </div>
    </div>
  </div><!-- /.row -->

  <div class="row">
    <div class="col-sm-6">
      <div class="form-group">
        <label for="machine-dimensions">Dimensions</label>
        <input type="text" id="machine-dimensions" class="form-control"
               placeholder="Enter dimensions" ng-model="machine.Dimensions">
      </div>
    </div>

    <div class="col-sm-6">
      <div class="form-group">
        <label for="machine-workspace-dimensions">Workspace Dimensions</label>
        <input type="text" id="machine-workspace-dimensions" class="form-control"
               placeholder="E.g. 200 mm x 200 mm x 200 mm or 1.5 m x 3 m" ng-model="machine.WorkspaceDimensions">
      </div>
    </div>
  </div><!-- /.row -->

  <!-- NetSwitch -->
  <div class="row">

    <div class="col-sm-9">
      <label for="machine-hexabus-ip">NetSwitch Config</label>
      <div class="row">

        <div class="col-sm-4">
          <div class="form-group" ng-hide="machine.NetswitchXmpp">
            <input type="text" id="machine-netswitch-url-on" 
                   class="form-control"
                   placeholder="On URL"
                   ng-model="machine.NetswitchUrlOn">
          </div>
          <div class="form-group" ng-show="machine.NetswitchXmpp">
            <input type="text" id="machine-netswitch-host" 
                   class="form-control"
                   placeholder="Host (mfi only)"
                   ng-model="machine.NetswitchHost">
          </div>
        </div>

        <div class="col-sm-4">
          <div class="form-group" ng-hide="machine.NetswitchXmpp">
            <input type="text" id="machine-netswitch-url-off" 
                   class="form-control"
                   placeholder="Off URL"
                   ng-model="machine.NetswitchUrlOff">
          </div>
          <div class="form-group" ng-show="machine.NetswitchXmpp">
            <input type="number" id="machine-netswitch-sensor-port" 
                   class="form-control"
                   placeholder="Sensor Port (mfi only)"
                   ng-model="machine.NetswitchSensorPort">
          </div>
        </div>
        
      </div>
    </div>

  </div><!-- /.row -->

  <div class="row">
    <div class="col-sm-3">

    </div><!-- -->

    <div class="col-sm-3">

    </div><!-- -->
  </div>

  <div class="row">
    <div class="col-sm-3">
      <div class="form-group">
        <label>
          <input type="checkbox"
                 ng-model="machine.NetswitchXmpp">
          Use mfi switch via XMPP (experimental)
        </label>
      </div>
    </div><!-- -->
  </div>

  <div class="row">
    <div class="col-sm-6">
      
      <h2>Comments</h2>
      <textarea class="form-control" 
                ng-model="machine.Comments"></textarea>
    
    </div><!-- /.col Comments -->
  </div><!-- /.row Comments -->

  <hr>

  <div class="pull-right">

    <button class="btn btn-primary btn-lg"
            ng-click="updateMachine()">
      <i class="fa fa-save"></i>&nbsp;Save
    </button>

  </div>

</div> <!-- /container -->
