<div id="admin-machine" class="container-fluid">

  <h1>Edit Machine</h1>

  <hr>

  <div class="row">

    <div class="col-sm-3">
      <div class="form-group">
        <label for="machine-name">Machine Name</label>
        <input type="text" id="machine-name" class="form-control"
               placeholder="Enter machine name" ng-model="machine.Name">
      </div>
    </div>

    <div class="col-sm-3">
      <div class="form-group">
        <label for="machine-shortname">Shortname</label>
        <input type="text" id="machine-shortname" class="form-control"
               placeholder="Enter shortname" ng-model="machine.Shortname">
      </div>
    </div>
    
    <div class="col-sm-3">
      <div class="form-group">
        <label for="machine-shortname">Price</label>
        <div class="input-group">
          <input type="text" id="machine-price" class="form-control"
                 placeholder="Enter price" ng-model="machine.Price">
          <div class="input-group-addon">
            {{settings && settings.Currency && settings.Currency.ValueString || '€'}}
          </div>
        </div>
      </div>
    </div>
    
    <div class="col-sm-3">
      <div class="form-group">
        <label for="machine-price-unit">Price Unit</label>
        <select class="form-control" id="machine-price-unit" 
                ng-model="machine.PriceUnit">
          <option value="" selected disabled>Select unit</option>
          <!-- TODO: These have to be loaded via API -->
          <option value="minute">minute</option>
          <option value="hour">hour</option>
          <option value="day">day</option>
        </select>
      </div>
    </div>
  
  </div><!-- /.row -->

  <div class="row">
    
    <div class="col-sm-6">
      <div class="form-group">
        <label for="machine-description">Machine Description</label>
        <textarea id="machine-description" class="form-control" rows="5"
                  placeholder="Enter machine description"
                  ng-model="machine.Description"></textarea>
      </div>
    </div>

    <div class="col-sm-6">
      <div class="form-group">
        <label for="machine-safety-guidelines">Safety Guidelines</label>
        <textarea id="machine-safety-guidelines" class="form-control" rows="5"
                  placeholder="All parts of the machine could be hot. In case of malfunction or before leaving: switch it off."
                  ng-model="machine.SafetyGuidelines"></textarea>
      </div>
    </div>

    <div class="col-sm-6">
      <label>Image</label>
      <div class="row"> 
        <div class="col-sm-6">
          <div class="form-group">
            <img id="machine-image"
              ng-src="{{machineImageNewFile || machineImageFile || 'assets/img/img-machine-placeholder.svg'}}"
              alt="Machine image">
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group">
            <input type="file" onchange="angular.element(this).scope().machineImageLoad(this)">
            <button class="btn btn-primary btn-block" ng-disabled="!machineImageNewFile" ng-click="machineImageReplace()">
              <i class="fa fa-file-image-o"></i>&nbsp;Replace
            </button>
          </div>
          <p>Recommeded type: jpg</p>
          <p>Name: {{machineImageNewFileName || machine.ImageName}}</p>
        </div>
      </div>

    </div>

  </div><!-- /.row -->

  <div class="row">
    <div class="col-sm-3" ng-show="data.location.FeatureSpaces">
      <div class="form-group">
        <label for="grace-period">Start time (seconds)</label>
        <input type="number"
               id="grace-period"
               class="form-control"
               ng-model="machine.GracePeriod">
      </div>
    </div><!-- -->

    <div class="col-sm-3">
      <div class="form-group">
        <label>
          <input type="checkbox" ng-model="machine.Visible"> Visible
        </label>
      </div>
    </div><!-- -->
  </div><!-- /.row -->

  <div class="row">
    <div class="col-sm-3">
      <div class="form-group">
        <label for="machine-type">Category</label>
        <select class="form-control" id="machine-type" 
                ng-model="machine.TypeId">
          <option ng-repeat="machineType in machineTypes"
                  value="{{machineType.Id}}">
            {{machineType.Name}}
          </option>
          <option value="0" selected>Other</option>
        </select>
      </div>
    </div>

    <div class="col-sm-3">
      <div class="form-group">
        <label for="machine-brand">Machine Brand</label>
        <input type="text" id="machine-brand" class="form-control"
               placeholder="Enter machine brand" ng-model="machine.Brand">
      </div>
    </div>
  </div><!-- /.row -->

  <div class="row">
    <div class="col-sm-6">
      <div class="form-group">
        <label for="machine-dimensions">Dimensions</label>
        <input type="text" id="machine-dimensions" class="form-control"
               placeholder="Enter dimensions" ng-model="machine.Dimensions">
      </div>
    </div>

    <div class="col-sm-6">
      <div class="form-group">
        <label for="machine-workspace-dimensions">Workspace Dimensions</label>
        <input type="text" id="machine-workspace-dimensions" class="form-control"
               placeholder="E.g. 200 mm x 200 mm x 200 mm or 1.5 m x 3 m" ng-model="machine.WorkspaceDimensions">
      </div>
    </div>
  </div><!-- /.row -->

  <!-- NetSwitch -->
  <div class="row">

    <div class="col-sm-12">
      <label for="machine-hexabus-ip">NetSwitch Config</label>
      <div class="row">

        <div class="col-sm-3">
          <div class="form-group" ng-hide="machine.NetswitchType">
            <input type="text" id="machine-netswitch-url-on" 
                   class="form-control"
                   placeholder="On URL"
                   ng-model="machine.NetswitchUrlOn"
                   ng-change="registerUnsavedChange()">
          </div>
          <div class="form-group" ng-show="machine.NetswitchType">
            <input type="text" id="machine-netswitch-host" 
                   class="form-control"
                   placeholder="Host (mfi only)"
                   ng-model="machine.NetswitchHost"
                   ng-change="registerUnsavedChange()">
          </div>
        </div>

        <div class="col-sm-3">
          <div class="form-group" ng-hide="machine.NetswitchType">
            <input type="text" id="machine-netswitch-url-off" 
                   class="form-control"
                   placeholder="Off URL"
                   ng-model="machine.NetswitchUrlOff"
                   ng-change="registerUnsavedChange()">
          </div>
        </div>

      </div> <!-- row -->
      <div class="row">

        <div class="col-sm-3">
          <div class="form-group">
            <select class="form-control" id="netswitch-type" 
                    ng-model="machine.NetswitchType"
                    ng-change="registerUnsavedChange()">
              <option value="" selected>Custom Powerswitch</option>
              <option value="mfi">Ubiquiti mFi Powerswitch</option>
            </select>
          </div>
        </div>

        <div class="col-sm-3">
          <div class="form-group">
            <button class="btn btn-danger btn-block"
                    ng-click="applyConfig()"
                    ng-show="machine.NetswitchType === 'mfi' && !netswitchConfigStatus"
                    type="button">
              Upgrade Powerswitch
            </button>
            <button class="btn btn-danger btn-block"
                    ng-click="applyConfig()"
                    ng-disabled="true"
                    ng-show="netswitchConfigStatus"
                    type="button">
              <i class="fa fa-refresh fa-spin"></i>
              {{netswitchConfigStatus}}
            </button>
          </div>
        </div>
        </div>
        
      </div>
    </div>

  </div><!-- /.row -->

  <div class="row">
    <div class="col-sm-3">

    </div><!-- -->

    <div class="col-sm-3">

    </div><!-- -->
  </div>

  <div class="row">
    <div class="col-sm-6">
      
      <h2>Comments</h2>
      <textarea class="form-control" 
                ng-model="machine.Comments"></textarea>
    
    </div><!-- /.col Comments -->
  </div><!-- /.row Comments -->

  <hr>

  <div class="pull-right">

    <button class="btn btn-danger btn-lg"
            ng-click="setArchived(true)"
            ng-hide="machine.Archived">
      <i class="fa fa-archive"></i>&nbsp;Archive
    </button>
    <button class="btn btn-danger btn-lg"
            ng-click="setArchived(false)"
            ng-show="machine.Archived">
      <i class="fa fa-archive"></i>&nbsp;Unarchive
    </button>

    <button class="btn btn-primary btn-lg"
            ng-click="updateMachine()">
      <i class="fa fa-save"></i>&nbsp;Save
    </button>

  </div>

  <div id="loader-global" ng-show="loading">
    <div class="spinner">
      <i class="fa fa-cog fa-spin"></i>
    </div>
  </div>

</div> <!-- /container -->
