<div id="admin-machine" class="container-fluid">

  <h1>Edit Machine</h1>

  <hr>

  <div class="row">

    <div class="col-sm-3">
      <div class="form-group">
        <label for="machine-name">Machine Name</label>
        <input type="text" id="machine-name" class="form-control"
               placeholder="Enter machine name" ng-model="machine.Name">
      </div>
    </div>

    <div class="col-sm-3">
      <div class="form-group">
        <label for="machine-shortname">Shortname</label>
        <input type="text" id="machine-shortname" class="form-control"
               placeholder="Enter shortname" ng-model="machine.Shortname">
      </div>
    </div>
    
    <div class="col-sm-3">
      <div class="form-group">
        <label for="machine-shortname">Price</label>
        <div class="input-group">
          <input type="text" id="machine-price" class="form-control"
                 placeholder="Enter price" ng-model="machine.Price">
          <div class="input-group-addon">
            <i class="fa fa-euro"></i>
          </div>
        </div>
      </div>
    </div>
    
    <div class="col-sm-3">
      <div class="form-group">
        <label for="machine-price-unit">Price Unit</label>
        <select class="form-control" id="machine-price-unit" 
                ng-model="machine.PriceUnit">
          <option value="" selected disabled>Select unit</option>
          <!-- TODO: These have to be loaded via API -->
          <option value="minute">minute</option>
          <option value="hour">hour</option>
          <option value="day">day</option>
        </select>
      </div>
    </div>
  
  </div><!-- /.row -->

  <div class="row">
    
    <div class="col-sm-6">
      <div class="form-group">
        <label for="machine-description">Machine Description</label>
        <textarea id="machine-description" class="form-control" rows="5"
                  placeholder="Enter machine description"
                  ng-model="machine.Description"></textarea>
      </div>
    </div>

    <div class="col-sm-6">
      <label>Image</label>
      <div class="row"> 
        <div class="col-sm-6">
          <div class="form-group">
            <img id="machine-image"
              ng-src="{{machineImageNewFile || machineImageFile || 'assets/img/img-machine-placeholder.svg'}}"
              alt="Machine image">
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group">
            <input type="file" onchange="angular.element(this).scope().machineImageLoad(this)">
            <button class="btn btn-primary btn-block" ng-disabled="!machineImageNewFile" ng-click="machineImageReplace()">
              <i class="fa fa-file-image-o"></i>&nbsp;Replace
            </button>
          </div>
          <p>Supported types: svg</p>
          <p>Name: {{machineImageNewFileName || machine.ImageName}}<br>Size: {{machineImageNewFileSize || machine.ImageSize}}</p>
        </div>
      </div>

    </div>

  </div><!-- /.row -->

  <div class="row">
    <div class="col-sm-3">
      <div class="form-group">
        <label>
          <input type="checkbox" ng-model="machine.Visible"> Visible
        </label>
      </div>
    </div><!-- -->
  </div><!-- /.row -->

  <!-- NetSwitch -->
  <div class="row">

    <div class="col-sm-9" ng-show="netSwitchMapping">
      <label for="machine-hexabus-ip">NetSwitch Config</label>
      <div class="row">

        <div class="col-sm-4">
          <div class="form-group">
            <input type="text" id="machine-netswitch-url-on" 
                   class="form-control"
                   placeholder="On URL"
                   ng-model="netSwitchMapping.UrlOn"
                   ng-change="netSwitchMappingChanged=true">
          </div>
        </div>

        <div class="col-sm-4">
          <div class="form-group">
            <input type="text" id="machine-netswitch-url-off" 
                   class="form-control"
                   placeholder="Off URL"
                   ng-model="netSwitchMapping.UrlOff"
                   ng-change="netSwitchMappingChanged=true">
          </div>
        </div>
        
        <div class="col-sm-4" ng-hide="netSwitchMappingChanged">
          <div class="form-group">
            <button class="btn btn-danger btn-block"
                    ng-click="deleteNetSwitchMappingPrompt()">
              <i class="fa fa-remove"></i>
              &nbsp;Delete Mapping
            </button>
          </div>
        </div>
        
        <div class="col-sm-4" ng-show="netSwitchMappingChanged">
          <div class="form-group">
            <button class="btn btn-primary btn-block"
                    ng-click="updateNetSwitchMapping()">
              <i class="fa fa-remove"></i>
              &nbsp;Update Mapping
            </button>
          </div>
        </div>
      
      </div>
    </div>

    <div class="col-sm-3" ng-hide="netSwitchMapping">
      <div class="form-group">
        <label>NetSwitch Mapping</label>
        <button class="btn btn-primary btn-block"
                ng-click="createNetSwitchMapping()">
          <i class="fa fa-plus"></i>
          &nbsp;Create Mapping
        </button>
      </div>
    </div>

  </div><!-- /.row -->

  <div class="row">
    <div class="col-sm-6">
      
      <h2>Comments</h2>
      <textarea class="form-control" 
                ng-model="machine.Comments"></textarea>
    
    </div><!-- /.col Comments -->
    <div class="col-sm-6">

      <h2>Connected Machines</h2>
      <table class="table table-striped table-hover"
             ng-show="connectedMachines.length">
        <thead>
          <tr>
            <th>ID</th>
            <th>Name</th>
            <th>&nbsp;</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="connectedMachine in connectedMachines">
            <td>{{connectedMachine.Id}}</td>
            <td>{{connectedMachine.Name}}</td>
            <td>
              <span class="pull-right">
                <a class="btn btn-danger btn-ico"
                   ng-click="removeConnectedMachinePrompt(connectedMachine.Id)">
                  <span class="fa fa-close"></span>
                </a>
              </span>
            </td>
          </tr>
        </tbody>
      </table><!-- Connected Machines table -->

      <div class="row" ng-show="connectableMachines.length">
        <div class="col-sm-8">
          
          <select class="form-control"
                  id="connectable-machine-select">
            <option value="" selected disabled>Select Machine</option>
            <option ng-repeat="connectable in connectableMachines"
                    value="{{connectable.Id}}">
              {{connectable.Name}}
            </option>
          </select>

        </div>
        <div class="col-sm-4">
          <button class="btn btn-block btn-primary"
                  ng-click="addConnectedMachine()">
            <i class="fa fa-plus"></i> Add
          </button>
        </div>
      </div><!-- /.row Add Connected Machine -->
      
    </div><!-- /.col Connected Machines -->
  </div><!-- /.row Comments and Connected Machines -->

  

  
  
  

  <hr>

  <div class="pull-right">

    <button class="btn btn-primary btn-lg"
            ng-click="updateMachine()">
      <i class="fa fa-save"></i>&nbsp;Save
    </button>

  </div>

</div> <!-- /container -->
