Package: localmachines-gateway
Architecture: ARCHITECTURE
Maintainer: Localmachines Team
Depends: daemontools, daemontools-run
Priority: optional
Version: 0.10.4.1
Description: Localmachines Gateway
 This script provides an easy way to install Localmachines Gateway.
 Setting up Localmachines Gateway is now more fun than ever!
