Package: localmachines-gateway
Architecture: ARCHITECTURE
Maintainer: Localmachines Team
Section: misc
Depends: daemontools, daemontools-run, sshpass
Priority: optional
Version: VERSION
Description: Localmachines Gateway
 This script provides an easy way to install Localmachines Gateway.
 Setting up Localmachines Gateway is now more fun than ever!
