<header>
  <div class="container-fluid">
    <img src="assets/img/logo_fablab_berlin.svg" class="brand-image">
  </div>
</header>

<div class="signup">
  <div class="container-fluid">
    <div class="signup-form">
      <h2>Signup for {{location.Title}}</h2>
      <br>

      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label for="email">Email address</label>
            <input type="email" class="form-control"
                    id="email" placeholder="Enter E-Mail"
                    autocomplete="off"
                    ng-model="email">
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label for="company">Company name (optional)</label>
            <input type="text" class="form-control"
                    id="company" placeholder="Enter your company name"
                    autocomplete="off"
                    ng-model="company">
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label for="first_name">First Name</label>
            <input type="text" class="form-control"
                    id="first_name" placeholder="Enter first name"
                    autocomplete="off"
                    ng-model="firstName">
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label for="last_name">Last Name</label>
            <input type="text" class="form-control"
                    id="last_name" placeholder="Enter last name"
                    autocomplete="off"
                    ng-model="lastName">
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label for="username">Username</label>
            <input type="text" class="form-control"
                    id="username" placeholder="Enter Username"
                    autocomplete="off"
                    ng-model="username">
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label for="phone">Phone</label>
            <input type="text" 
              class="form-control"
              id="phone" 
              placeholder="Phone Number"
              ng-model="phone">
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6">
          <label for="password">Password</label>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <input type="password" class="form-control"
                    id="password" placeholder="Your password"
                    autocomplete="off"
                    ng-model="password">
          </div>
        </div>
        <div class="col-md-6 clear">
          <div class="form-group">
            <input type="password" class="form-control"
                    id="password-repeat" placeholder="Repeat your password"
                    autocomplete="off"
                    ng-model="passwordRepeat">
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label for="billing-address">Billing Address</label>
            <input
              type="text" 
              id="billing-address"
              class="form-control"
              placeholder="Your Billing Address"
              ng-model="invoiceAddr">
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label for="billing-address">Country</label>
            <select id="country"
              class="form-control" 
              ng-model="countryCode">
              <option value="" selected disabled>Select Country</option>
              <option ng-repeat="country in countryCodes" value="{{country.Code}}">
                {{country.Name}}
              </option>
            </select>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label for="zip-code">ZIP Code</label>
            <input 
              class="form-control"
              id="zip-code"
              ng-model="zipCode"
              placeholder="Your ZIP Code">
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label for="city">City</label>
            <input
              class="form-control"
              id="city"
              ng-model="city"
              placeholder="Your City">
          </div>
        </div>
      </div>

      <!-- Legal agreements -->
      <div class="row">
        <div class="col-md-12">
          <div class="checkbox">
            <label for="agb" class="agb-label">
              <input type="checkbox"
                     id="agb"
                     ng-model="agb_dpa_agreed">
                Ja, ich habe die <a target="_blank" href="http://fablab.berlin/de/content/3-allgemeine-nutzungsbedingungen-online">AGB Online</a>, <a target="_blank" href="http://fablab.berlin/de/content/18-agb-fab-lab">AGB Fab Lab</a> und <a target="_blank" href="http://fablab.berlin/de/content/19-datenschutz">Datenschutzbestimmungen</a> von Makea Industries GmbH gelesen und stimme ihnen uneingeschränkt zu.
            </label>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6">
          <button class="btn btn-lg btn-primary btn-submit-form"
                  ng-click="submitForm()">
            Sign up!
          </button>
        </div>
      </div>

    </div>
  </div>
</div>

<footer class="absolute-bottom">
  <div class="container-fluid">
    <i class="fa fa-copyright"></i> Fab Lab Berlin 2016
  </div>
</footer>
