<!-- Dashboard header -->
<header>
  <div class="container-fluid">

  <div class="row">
    <div class="col-xs-6">
      <img src="assets/img/logo_fablab_berlin.svg" class="brand-image">
    </div>
    <div class="col-xs-6 text-right">
      <button class="btn btn-danger btn-logout pull-right" 
              ng-click="smartLogout()">
              <i class="fa fa-sign-out"></i>
      </button>
    </div>
  </div>

  </div> <!-- /container -->
</header>

<div class="logged-user-name">
  <div class="text-center">
  <i class="fa fa-user-secret"></i>&nbsp;
  {{userFullName}}
  </div>
</div>

<!-- Machine list -->
<div class="machines">
  <fs-machine-item ng-repeat="machine in machines"></fs-machine-item>
</div> <!-- /machines -->

<!-- Footer for logout button -->
<div class="container-fluid">
  <button class="btn btn-lg btn-danger btn-block btn-logout-bottom" 
          ng-click="smartLogout()">Exit&nbsp;
          <i class="fa fa-sign-out"></i></button>
</div>

<footer>
  <div class="container-fluid">
    <i class="fa fa-copyright"></i> Fab Lab Berlin 2015
  </div>
</footer>

<div class="scroll-nav scroll-nav-top"
     ng-show="scrollTop"
     ng-click="scrollUp()">
  <i class="fa fa-arrow-circle-up"></i>
</div>

<div class="scroll-nav scroll-nav-bottom"
     ng-show="scrollBottom"
     ng-click="scrollDown()">
  <i class="fa fa-arrow-circle-down"></i>
</div>
