<!-- Dashboard header -->
<header>
  <div class="container">

    <div class="row">
      <div class="col-xs-12 logged-user-label">Logged in as</div>
    </div> <!-- /row -->
  
    <div class="row">
      <div class="col-xs-12 logged-user-value" ng-bind="userFullName"></div>
    </div> <!-- /row -->
  
  </div> <!-- /container -->
</header>

<!-- Machine list -->
<div class="machines">
  <fs-machine-item ng-repeat="machine in machines"></fs-machine-item>
</div> <!-- /machines -->

<!-- Footer for logout button -->
<footer class="container">
  <button class="btn btn-danger btn-block" ng-click="logout()">Logout</button>
</footer>