<div id="admin-reservation" class="container-fluid">

  <h1>Edit Reservation</h1>

  <hr>

 <div class="row">

    <div class="col-sm-6">
      <div class="form-group">
        <label for="reservation-machine">Machine</label>
        <select ng-model="reservation.MachineId" id="reservation-machine" class="form-control">
          <option ng-repeat="machine in machines"
                  value="{{machine.Id}}">
            {{machine.Name}}
          </option>
        </select>
      </div>
    </div>

    <div class="col-sm-3">
      <div class="form-group">
        <label for="reservation-start">Start</label>
        <input type="text" id="reservation-start" class="form-control"
               placeholder="YYYY-MM-DD HH:MM" ng-model="reservation.TimeStartLocal">
      </div>
    </div>
    
    <div class="col-sm-3">
      <div class="form-group">
        <label for="reservation-end">End</label>
        <input type="text" id="reservation-end" class="form-control"
               placeholder="YYYY-MM-DD HH:MM" ng-model="reservation.TimeEndLocal">
      </div>
    </div>
  
  </div><!-- /.row -->

  <div class="row">
    <div class="col-sm-9">
      <div class="form-group">
        <label for="reservation-user">User</label>
        <select ng-model="reservation.UserId" id="reservation-user" class="form-control">
          <option ng-repeat="user in users"
                  value="{{user.Id}}">
            {{user.FirstName}} {{user.LastName}} ({{user.Email}})
          </option>
        </select>
      </div>
    </div>

  </div><!-- /.row -->

  <div class="row">

    <div class="col-sm-3">
      <div class="form-group">
        <label>
          <input type="checkbox" id="reservation-disabled" ng-model="reservation.Disabled">
          Disabled
        </label>
      </div>
    </div>

  </div><!-- /.row -->

  <hr>

  <div class="pull-right">

    <button class="btn btn-danger btn-lg"
            ng-click="deleteReservation()">
      <i class="fa fa-trash-o"></i>&nbsp;Delete
    </button>

    <button class="btn btn-primary btn-lg"
            ng-click="saveReservation()">
      <i class="fa fa-save"></i>&nbsp;Save
    </button>

  </div>

</div> <!-- /container -->
