<div class="modal-header">
	<button type="button" class="close" aria-label="Close" ng-click="cancel()"><span aria-hidden="true">&times;</span></button>
	<h3 class="modal-title">Deactivate Machine</h3>
</div>
<div class="modal-body">
	<p>Machine will stay on for 30 seconds after you deactivate and log out.</p>
</div>
<div class="modal-footer">
	
	<button class="btn btn-primary" ng-click="cancel()">Cancel</button>
	<button class="btn btn-danger" ng-click="logOutAndDeactivate()">Deactivate and Log Out</button>
</div>