<div id="admin-spaces" class="container-fluid">

  <h1>Spaces</h1>

  <hr>

  <table class="table table-bordered table-striped table-hover">
    <thead>
      <tr>
        <th>Name</th>
        <th>Price Per Unit</th>
        <th>Price Unit</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="space in spaces">
        <td>{{space.Product.Name}}</td>
        <td>{{space.Product.Price}}</td>
        <td>{{space.Product.PriceUnit}}</td>
        <td>
          <button 
            type="button" 
            class="btn btn-primary btn-ico pull-right" 
            ng-click="editSpace(space.Product.Id)">
            <span class="fa fa-edit"></span>
          </button>
        </td>
      </tr>
    </tbody>
  </table>

  <hr>

  <div class="pull-right">
    <button 
      class="btn btn-primary btn-lg" 
      ng-click="addSpacePrompt()">
      <i class="fa fa-plus"></i>&nbsp;Add
    </button>
  </div>

  <hr>

  <h1>Space Purchases</h1>

  <table class="table table-bordered table-striped table-hover">
    <thead>
      <tr>
        <th>Name</th>
        <th>Price Per Unit</th>
        <th>Price Unit</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="spacePurchase in spacePurchases">
        <td>{{spacePurchase.Name}}</td>
        <td>{{spacePurchase.Price}}</td>
        <td>{{spacePurchase.PriceUnit}}</td>
        <td>
          <button 
            type="button" 
            class="btn btn-primary btn-ico pull-right" 
            ng-click="editSpacePurchase(spacePurchase.Id)">
            <span class="fa fa-edit"></span>
          </button>
        </td>
      </tr>
    </tbody>
  </table>

  <hr>

  <div class="pull-right">
    <button 
      class="btn btn-primary btn-lg" 
      ng-click="addSpacePurchase()">
      <i class="fa fa-plus"></i>&nbsp;Add
    </button>
  </div>

</div> <!-- /container -->
