<div id="admin-rental" class="container-fluid">

  <h1>Coworking Purchase</h1>
  
  <hr>

  <div class="form-group">
    <label for="purchase-table">Coworking Product</label>
    <select ng-model="purchase.ProductId"
            ng-change="productChange()"
            id="purchase-product"
            class="form-control selectpicker"
            data-live-search="true"
            data-width="100%">
      <option ng-repeat="product in products"
              value="{{product.Product.Id}}">
        {{product.Product.Name}}
      </option>
    </select>
  </div>

  <div class="form-group">
    <label for="purchase-user">User</label>
    <select ng-model="purchase.UserId"
            ng-change="userChange()"
            id="purchase-user"
            class="form-control selectpicker"
            data-live-search="true"
            data-width="100%">
      <option ng-repeat="user in users"
              value="{{user.Id}}">
        {{user.FirstName}} {{user.LastName}} ({{user.Email}})
      </option>
    </select>
  </div>

  <div class="form-group">
    <label for="start-date">Start time</label>
    <div class="row">
      <div class="col-xs-6">
        <div class="input-group">
          <input
            type="text"
            class="form-control datepicker"
            id="start-date"
            placeholder="Date"
            ng-model="purchase.DateStartLocal"
            ng-change="timeChange()">
          <span class="input-group-addon">
            <i class="fa fa-calendar"></i>
          </span>
        </div>
      </div>
      <div class="col-xs-6">
        <div class="input-group">
          <input
            type="text"
            class="form-control"
            id="start-time"
            placeholder="Time"
            ng-model="purchase.TimeStartLocal"
            ng-change="timeChange()">
          <span class="input-group-addon">
            <i class="fa fa-clock-o"></i>
          </span>
        </div>
      </div>
    </div>
  </div>

  <div class="form-group">
    <label for="end-date">End time</label>
    <div class="row">
      <div class="col-xs-6">
        <div class="input-group">
          <input
            type="text"
            class="form-control datepicker"
            id="end-date"
            placeholder="Date"
            ng-model="purchase.DateEndLocal"
            ng-change="timeChange()">
          <span class="input-group-addon">
            <i class="fa fa-calendar"></i>
          </span>
        </div>
      </div>
      <div class="col-xs-6">
        <div class="input-group">
          <input
            type="text"
            class="form-control"
            id="end-time"
            placeholder="Time"
            ng-model="purchase.TimeEndLocal"
            ng-change="timeChange()">
          <span class="input-group-addon">
            <i class="fa fa-clock-o"></i>
          </span>
        </div>
      </div>
    </div>
  </div>

  <div class="form-group">
    <label for="purchase-total-time">Total time ({{purchase.PriceUnit}}s)</label>
    <input
      type="text"
      class="form-control"
      id="purchase-total-time"
      ng-model="purchase.Quantity">
  </div>

  <div class="form-group">
    <label for="purchase-price-per-unit">Price Per Unit</label>
    <input type="text" id="purchase-price-per-unit" class="form-control"
           placeholder="Price Per Unit" ng-model="purchase.PricePerUnit">
  </div>

  <div class="form-group">
    <label for="purchase-price-unit">Price Unit</label>
    <input type="text"
      class="form-control"
      value="month"
      disabled="disabled" 
      ng-model="purchase.PriceUnit">
  </div>

  <div class="form-group">
    <label for="purchase-total-price">Total Price (incl. VAT)</label>
    <div class="input-group">
      <input type="text" id="purchase-total-price" class="form-control"
             placeholder="Total price" ng-model="purchase.TotalPrice" disabled>
      <div class="input-group-addon">
        <i class="fa fa-euro"></i>
      </div>
    </div>
  </div>

  <hr>

  <div class="pull-right">
    <button 
      class="btn btn-lg btn-primary"
      ng-click="save()">
      Save
    </button>
  </div>

</div> <!-- /container -->
