<div class="container-fluid">

    <h1>Dashboard</h1>
    <h2>Metrics</h2>
    <h3>Timeframe</h3>

    <div class="loader-local" ng-hide="retention">
      <div class="spinner">
        <i class="fa fa-cog fa-spin"></i>
      </div>
    </div>
    <div class="row" ng-show="retention">
      <div class="col-xs-3">
        <label>From</label>
      </div>
      <div class="col-xs-3">
        <label>To</label>
      </div>
      <div class="col-xs-3">
        <label>Bin Width</label>
      </div>
    </div>
    <div class="row" ng-show="retention">
      <div class="col-xs-3">
        <div class="form-group">
          <div class="input-group">
            <input 
              class="form-control datepicker" 
              ng-model="timeframe.from"
              placeholder="From">
            <div class="input-group-addon">
              <i class="fa fa-calendar"></i>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xs-3">
        <div class="form-group">
          <div class="input-group">
            <input 
              class="form-control datepicker"
              ng-model="timeframe.to"
              placeholder="To">
            <div class="input-group-addon">
              <i class="fa fa-calendar"></i>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xs-3">
        <div class="form-group">
          <select class="form-control" ng-model="binwidth">
            <option value="month">Month</option>
            <option value="week">Week</option>
            <option value="day">Day</option>
          </select>
        </div>
      </div>
      <div class="col-xs-3">
        <button class="btn btn-primary btn-lg"
                ng-click="updateTimeframes()">
          <i class="fa fa-refresh"></i>&nbsp;Refresh
        </button>
      </div>
    </div>
    <div id="timeframe-from"></div>
    <div id="timeframe-to"></div>

    <h3>Revenue through Activations and Memberships</h3>
    <div class="loader-local" ng-hide="metrics">
      <div class="spinner">
        <i class="fa fa-cog fa-spin"></i>
      </div>
    </div>
    <div id="main_chart" ng-show="metrics">
    </div>

    <h3>Earnings by Machine</h3>
    <h4>Membership contributions weighted by undiscounted prices</h4>
    <div class="loader-local" ng-hide="machineEarnings">
      <div class="spinner">
        <i class="fa fa-cog fa-spin"></i>
      </div>
    </div>
    <div id="chart_machine_earnings" ng-show="machineEarnings">
    </div>

    <h3>Usage by Machine</h3>
    <h4>Total lifetime is the time since its first activation</h4>
    <div class="loader-local" ng-hide="machineCapacities">
      <div class="spinner">
        <i class="fa fa-cog fa-spin"></i>
      </div>
    </div>
    <div id="chart_machine_capacities" ng-show="machineCapacities">
    </div>

    <h3>Customer Retention</h3>
    <h4>How many come back and use a machine excluding Staff/Admins</h4>
    <label>
      <input type="checkbox" ng-model="activeOnly"> Show only users that did at least one purchase
    </label>
    <div class="loader-local" ng-hide="retention || activeOnly">
      <div class="spinner">
        <i class="fa fa-cog fa-spin"></i>
      </div>
    </div>
    <div id="customer_retention" ng-show="retention && !activeOnly">
      <table class="table">
        <thead>
          <tr>
            <th colspan="2" class="text-right">
              Signups
            </th>
            <th colspan="{{retention.all[0].Returns.length}}" class="text-center">
              Months later
            </th>
          </tr>
          <tr>
            <th class="text-center">
              From
            </th>
            <th class="text-center">
              #
            </th>
            <th ng-repeat="r in retention.all[0].Returns track by $index" class="text-center">
              {{$index}}
            </th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="row in retention.all">
            <td>
              <b>{{row.From}}</b>
            </td>
            <td>
              {{row.Users}}
            </td>
            <td ng-repeat="r in row.Returns track by $index" class="retention {{retentionClass(r)}}">
              <b>{{formatPercentage(r)}}%</b>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="loader-local" ng-hide="retention.active || !activeOnly">
      <div class="spinner">
        <i class="fa fa-cog fa-spin"></i>
      </div>
    </div>
    <div id="customer_retention" ng-show="retention.active && activeOnly">
      <table class="table">
        <thead>
          <tr>
            <th colspan="2" class="text-right">
              Signups
            </th>
            <th colspan="{{retention.active[0].Returns.length}}" class="text-center">
              Months later
            </th>
          </tr>
          <tr>
            <th class="text-center">
              From
            </th>
            <th class="text-center">
              #
            </th>
            <th ng-repeat="r in retention.active[0].Returns track by $index" class="text-center">
              {{$index}}
            </th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="row in retention.active">
            <td>
              <b>{{row.From}}</b>
            </td>
            <td>
              {{row.Users}}
            </td>
            <td ng-repeat="r in row.Returns track by $index" class="retention {{retentionActiveClass(r)}}">
              <b>{{formatPercentage(r)}}%</b>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <h3>Memberships</h3>
    <div class="loader-local" ng-hide="memberships">
      <div class="spinner">
        <i class="fa fa-cog fa-spin"></i>
      </div>
    </div>
    <div id="chart_memberships" ng-show="memberships">
    </div>
    <div id="other-memberships" style="margin-top: 15px"></div>

    <h3>Heatmap</h3>
    <div class="loader-local" ng-hide="coordinates">
      <div class="spinner">
        <i class="fa fa-cog fa-spin"></i>
      </div>
    </div>
    <div id="heatmap_container" ng-show="coordinates">
    </div>
</div>
