<div id="admin-activations" class="container-fluid">

  <h1>Machines</h1>

  <hr>

  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th>Machine Name</th>
        <th>Price €</th>
        <th>Unit</th>
        <th>&nbsp;</th>
      </tr>
    </thead>
    <tbody>

      <tr ng-repeat="machine in machines">
        <td>{{machine.Name}}</td>
        <td>{{machine.Price | currency:''}}</td>
        <td>{{machine.PriceUnit}}</td>
        <td>
          <button type="button" class="btn btn-primary btn-ico pull-right"
                  ng-click="editMachine(machine.Id)">
            <i class="fa fa-edit"></i>
          </button>
        </td>
      </tr>

    </tbody>
  </table>

  <hr>

  <button class="btn btn-primary btn-lg pull-right"
          ng-click="addMachinePrompt()">
    <i class="fa fa-plus"></i>&nbsp;Add Machine
  </button>

</div> <!-- /container -->
