<div id="admin-reservation" class="container-fluid">

  <h1>Edit Reservation</h1>

  <hr>

 <div class="row">

    <div class="col-sm-6">
      <div class="form-group">
        <label for="reservation-machine">Machine</label>
        <select ng-model="reservation.MachineId"
                ng-options="m.Id as m.Name for m in machines"
                id="reservation-machine"
                class="form-control">
        </select>
      </div>
    </div>

    <div class="col-sm-3">
      <div class="form-group">
        <label for="reservation-start">Start</label>
        <input type="text" id="reservation-start" class="form-control"
               placeholder="YYYY-MM-DD HH:MM" ng-model="reservation.TimeStartLocal">
      </div>
    </div>
    
    <div class="col-sm-3">
      <div class="form-group">
        <label for="reservation-end">End</label>
        <input type="text" id="reservation-end" class="form-control"
               placeholder="YYYY-MM-DD HH:MM" ng-model="reservation.TimeEndLocal">
      </div>
    </div>
  
  </div><!-- /.row -->


  <div class="form-group">
    <label for="reservation-user">User</label>
    <select 
      ng-model="reservation.UserId"
      ng-options="u.Id as (u.FirstName + ' ' + u.LastName + ' (' + u.Email + ')') for u in users"
      id="reservation-user"
      class="selectpicker"
      ng-change="refreshUserPicker()"
      data-live-search="true"
      data-width="100%">
    </select>
  </div>

  <div class="row">

    <div class="col-sm-3">
      <div class="form-group">
        <label>
          <input type="checkbox" id="reservation-disabled" ng-model="reservation.ReservationDisabled">
          Disabled
        </label>
        <p>Reservation will be ignored so other users can access the machine. It is still going to be included in the invoice.</p>
      </div>
    </div>

    <div class="col-sm-3">
      <div class="form-group">
        <label>
          <input type="checkbox" id="reservation-cancelled" ng-model="reservation.Cancelled">
          Cancelled
        </label>
        <p>Cancel reservation so it will allow other users to use the machine and the reservation will not be included in the invoice.</p>
      </div>
    </div>

  </div><!-- /.row -->

  <hr>

  <div class="pull-right">

    <button class="btn btn-primary btn-lg"
            ng-click="saveReservation()">
      <i class="fa fa-save"></i>&nbsp;Save
    </button>

  </div>

</div> <!-- /container -->
