<div id="admin-coworking" class="container-fluid">

  <h1>Co-Working Tables</h1>

  <hr>

  <productlist type="co-working"></productlist>

  <div class="clearfix"></div>

  <h1>Rentals</h1>

  <div class="table-responsive">
    <table class="table table-striped table-hover">
      <thead>
        <tr>
          <th>Table</th>
          <th>User</th>
          <th>Start</th>
          <th>End</th>
          <th>Quantity</th>
          <th>Price Per Unit</th>
          <th>Price Unit</th>
          <th>
            <div class="pull-right">Options</div>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="rental in rentals">
          <td>{{rental.Product.Name}}</td>
          <td>{{rental.User.FirstName}} {{rental.User.LastName}} ({{rental.User.Email}})</td>
          <td>{{rental.TimeStartLocal}}</td>
          <td>{{rental.TimeEndLocal}}</td>
          <td>{{rental.Quantity}}</td>
          <td>{{rental.PricePerUnit}}</td>
          <td>{{rental.PriceUnit}}</td>
          <td>
            <button 
              type="button" 
              class="btn btn-primary btn-ico pull-right" 
              ng-click="editRental(rental.Id)">
              <span class="fa fa-edit"></span>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <hr>

  <div class="pull-right">
    <button 
      class="btn btn-primary btn-lg" 
      ng-click="addRental()">
      <i class="fa fa-plus"></i>&nbsp;Add
    </button>
  </div>
</div> <!-- /container -->
