<div id="admin-rental" class="container-fluid">

  <h1>Rental</h1>
  <hr>

  <div class="form-group">
    <label for="rental-table">Table</label>
    <select ng-model="rental.ProductId"
            ng-change="tableChange()"
            id="rental-table"
            class="form-control selectpicker"
            data-live-search="true"
            data-width="100%">
      <option ng-repeat="table in tables"
              value="{{table.Product.Id}}">
        {{table.Product.Name}}
      </option>
    </select>
  </div>

  <div class="form-group">
    <label for="rental-user">User</label>
    <select ng-model="rental.UserId"
            id="rental-user"
            class="form-control selectpicker"
            data-live-search="true"
            data-width="100%">
      <option ng-repeat="user in users"
              value="{{user.Id}}">
        {{user.FirstName}} {{user.LastName}} ({{user.Email}})
      </option>
    </select>
  </div>

  <div class="form-group">
    <label for="start-date">Start time</label>
    <div class="row">
      <div class="col-xs-6">
        <div class="input-group">
          <input
            type="text"
            class="form-control datepicker"
            id="start-date"
            placeholder="Date"
            ng-model="rental.DateStartLocal"
            ng-change="timeChange()">
          <span class="input-group-addon">
            <i class="fa fa-calendar"></i>
          </span>
        </div>
      </div>
      <div class="col-xs-6">
        <div class="input-group">
          <input
            type="text"
            class="form-control"
            id="start-time"
            placeholder="Time"
            ng-model="rental.TimeStartLocal"
            ng-change="timeChange()">
          <span class="input-group-addon">
            <i class="fa fa-clock-o"></i>
          </span>
        </div>
      </div>
    </div>
  </div>

  <div class="form-group">
    <label for="end-date">End time</label>
    <div class="row">
      <div class="col-xs-6">
        <div class="input-group">
          <input
            type="text"
            class="form-control datepicker"
            id="end-date"
            placeholder="Date"
            ng-model="rental.DateEndLocal"
            ng-change="timeChange()">
          <span class="input-group-addon">
            <i class="fa fa-calendar"></i>
          </span>
        </div>
      </div>
      <div class="col-xs-6">
        <div class="input-group">
          <input
            type="text"
            class="form-control"
            id="end-time"
            placeholder="Time"
            ng-model="rental.TimeEndLocal"
            ng-change="timeChange()">
          <span class="input-group-addon">
            <i class="fa fa-clock-o"></i>
          </span>
        </div>
      </div>
    </div>
  </div>

  <div class="form-group">
    <label for="rental-total-time">Total time ({{rental.PriceUnit}}s)</label>
    <input
      type="text"
      class="form-control"
      id="rental-total-time"
      ng-model="rental.Quantity">
  </div>

  <div class="form-group">
    <label for="rental-price-per-unit">Price Per Unit</label>
    <input type="text" id="rental-price-per-unit" class="form-control"
           placeholder="Price Per Unit" ng-model="rental.PricePerUnit">
  </div>

  <div class="form-group">
    <label for="rental-price-unit">Price Unit</label>
    <select class="form-control" id="rental-price-unit" 
            ng-model="rental.PriceUnit"
            ng-change="priceUnitChange()">
      <option value="" selected disabled>Select unit</option>
      <!-- TODO: These have to be loaded via API -->
      <option value="minute">minute</option>
      <option value="hour">hour</option>
      <option value="day">day</option>
    </select>
  </div>

  <div class="form-group">
    <label for="rental-total-price">Total Price (incl. VAT)</label>
    <div class="input-group">
      <input type="text" id="rental-total-price" class="form-control"
             placeholder="Total price" ng-model="rental.TotalPrice" disabled>
      <div class="input-group-addon">
        <i class="fa fa-euro"></i>
      </div>
    </div>
  </div>

  <hr>

  <div>
    <button 
      class="btn btn-lg btn-primary"
      ng-click="save()">
      Save
    </button>
  </div>

</div> <!-- /container -->
