<div id="admin-tables" class="container-fluid">

  <h1>Edit Table</h1>

  <hr>

  <div class="row">

    <div class="col-sm-6">
      <div class="form-group">
        <label for="table-name">Name</label>
        <input type="text" id="table-name" class="form-control"
               placeholder="Enter table name" ng-model="table.Product.Name">
      </div>
    </div>
    
    <div class="col-sm-3">
      <div class="form-group">
        <label for="table-price-per-unit">Price Per Unit</label>
        <div class="input-group">
          <input type="text" id="table-price-per-unit" class="form-control"
                 placeholder="Enter price per unit" ng-model="table.Product.Price">
          <div class="input-group-addon">
            <i class="fa fa-euro"></i>
          </div>
        </div>
      </div>
    </div>

    <div class="col-sm-3">
      <div class="form-group">
        <label for="table-price-unit">Price Unit</label>
        <select class="form-control" id="table-price-unit" 
                ng-model="table.Product.PriceUnit">
          <option value="" selected disabled>Select unit</option>
          <!-- TODO: These have to be loaded via API -->
          <option value="minute">minute</option>
          <option value="hour">hour</option>
          <option value="day">day</option>
        </select>
      </div>
    </div>

  </div><!-- /.row -->

  <hr>

  <div class="pull-right">

    <button class="btn btn-primary btn-lg"
            ng-click="updateTable()">
      <i class="fa fa-save"></i>&nbsp;Save
    </button>

  </div>

</div> <!-- /container -->
